
.custom-select {
    font-size: 1.3rem;
    width: auto;
    background: #fff url('../imgs/caret-down-solid.svg') right 0.75rem center/8px 10px no-repeat;
}

.form-control {
    font-size: 1.3rem;
}

.table {
    border: 1px solid #ddd;
}

.table img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}

.table a {
    color: #666;
}

.richText a {
    color: #333;
}

.btn {
    font-size: 1.3rem;
}

#wrapper .navbar {
    min-height: 45px;
}

#wrapper .navbar .navbar-brand {
    font-size: 1.6rem;
}

#wrapper .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgb(0 0 0 / 10%);
}

#wrapper .sidebar .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    #wrapper .sidebar .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

#wrapper .sidebar .sidebar-sticky li.nav-item a.nav-link {
    font-weight: 500;
    color: #333;
    padding: 1rem 1.5rem;
}

#wrapper .sidebar .sidebar-sticky li.nav-item a.nav-link.active {
    color: #007bff;
}

#wrapper .sidebar .sidebar-sticky li.nav-item a.nav-link svg {
    margin-right: 4px;
    color: #999;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}


#wrapper .sidebar .sidebar-sticky li.nav-item a.nav-link.active svg {
    color: inherit;
}

#wrapper [role="main"] {

    padding-top: 45px;
    height: 100%;
}

#wrapper [role="main"] a.btn.btn-add-product {
    padding: 0.25rem 0.5rem;
    font-size: 1.2rem;
    line-height: 1.8;
    font-weight: 700;
    color: #2C7EAE;
    border-radius: 0.2rem;
    background-color: #E4E3E2;
}

#wrapper [role="main"] .btn-toolbar>*:not(:last-child) {
    margin-right: 10px;
}

.form-group-modify {
    display: flex;
    flex-direction: row;
    margin: 4px 0;
}
.form-group-modify label {
    display: flex;
    justify-content: left;
    align-items: center;
    height: calc(1.5em + 0.75rem + 2px);
    min-width: 100px;
    padding: 0;
}
.form-control-modify {
    display: inline-block;
    flex: 1;
}

.form-control-modify {
    height: calc(1.5em + 0.75rem + 2px);
    width: calc(100% - 100px);
    padding: 4px 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.form-group-modify .select-attribute .item:not(:nth-child(3)) {
    margin-right: 10px;
}
.paginationPage {
    width: 100%;
    display: flex;
    justify-content: center;
}

.page-link {
    margin-left: 1px;
    display: inline-block;
    color: #777;
    font-size: 14px;
}

a.page-link, span.page-link {
    display: inline-block;
    color: #777;
    font-size: 14px;
}

.paginationPage ul {
    list-style-type: none;
}

.pagination li {
    display: inline-block;
    text-align: center;
    transition: background-color .3s;
    border-radius: 2px;
}

.pagination > .page-link {
    width: 43px;
    height: 34px;
    text-align: center;
    padding: 4px 16px;
    margin: 3px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 2px;
}

/* thiết lập style cho class active */
.pagination li.active > .current {
    background-color: rgb(215, 0 ,24, .7);
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.page-link:active {
    font-size: 14px;

}

.pagination li.disabled > .current {
    background-color: rgb(215, 0 ,24, .7);
}

/* thêm màu nền khi người dùng hover vào class không active */
.pagination li:hover:not(.active) > .page-link {
    background-color: rgb(215, 0 ,24, .7);
    text-decoration: none;
}





