:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --header-color: #666;
    --primary-color: #1070dc;
}

body {
    font-family: inherit;
}

body a:hover {
    text-decoration: none;
}

body img {
    width: 100%;
    height: auto;
}

body ul {
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
    color: var(--text-color);
}



@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .container-lg {
        max-width: 1200px;
    }
}

.my-section {
    margin-bottom: 30px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.nav-link.active {
    color: var(--primary-color) !important;
}

.text-strong {
    font-weight: 600;
    font-size: 1.4rem;
}

.row-full {
    box-sizing: border-box;
}

.column-container {
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 991px) {
    .column-container-md {
        padding-left: 0;
        padding-right: 0;
    }
}

.row-fluid > .column-container > .column-inner {
    padding-top: 35px;
    padding-bottom: 35px;
}

.row > .column-container > .column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.element {
    margin-bottom: 20px !important;
}

.single-img {
    text-align: left;
}