
html{
    font-size: 100%;
}

body{
    font-size: 16px;
    position: relative;

}
.menu-modify {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    padding: 16px 8px 0 4px;

    width: 200px;
    height: 100vh;
    background-color: #282a36;
    z-index: 1;
}

.nav-link.active {
    background-color: #44475a !important;
}

.content-box {
    position: absolute;
    right: 0;
    width: calc(100% - 200px);
}