* {
    font-family: Arial, Helvetica, sans-serif;
}

.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-20{
     font-size: 20px;
}
.background-red{
    background-color: rgb(215, 0 ,24, 1);
    color: white;
    font-size: 20px;
}

.tab-bg-light{
    background-color: #f2f2f2;
    border-left: 5px solid #D70018;

}
.checked-rating {
    color: orange;
}
.border-content-img{
    border-right: 1px solid #D70018;
}
@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);
.desc{
    margin-left: 0px;
    margin-right: -20px;
}

.w-50px {
    margin-bottom: 0px;
    width: 50px;
    height: 50px;
    border: 0px;
    padding: 10px;
    background-color: #f6f6f6;
}

.focus-input[type=text]:focus {
    border: 0px solid #f6f6f6;
    background-color: #f6f6f6;
}

.group-add {
    width: 160px;
    height: 50px;
    background-color: #f6f6f6;
}

.btn-cart {
    height: 50px;
}

.btn-cart:hover {
    background-color: #7b7979;
}
#long-desc{
    width: 100%;
}
.shadow-inset{
    overflow: hidden;
    text-overflow: ellipsis;
    background: -webkit-linear-gradient( #333,#eee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    box-shadow: -0px -30px 40px white inset;
}

.collapsible{
    background-color: transparent;
    color: red;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;

}
.collapsible> i{
    text-align: center;
    vertical-align: middle;
}

.relate-product{
    border-radius: 4px;
    -webkit-box-shadow: rgba(60, 64, 67, .15) 0 1px 2px 0, rgba(60, 64, 67, .15) 0 2px 6px 2px;
    box-shadow: rgba(60, 64, 67, .15) 0 1px 2px 0, rgba(60, 64, 67, .15) 0 2px 6px 2px;
}

.img-relate-product{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.link-relate-product:hover{
    text-decoration: none;
}

.red-border{
    border-bottom: 2px solid #D70018;
}

/*reset css*/


/* div,
label {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
}

h1 {
    font-size: 1.5em;
    margin: 10px;
} */


/****** Style Star Rating Widget *****/

.rating {
    border: none;
    float: left;
}

.rating>input {
    display: none;
}


/*ẩn input radio - vì chúng ta đã có label là GUI*/

.rating>label:before {
    margin: 5px;
    font-size: 30px;
    font-family: 'Font Awesome 5 Free';
    display: inline-block;
    content: "\f005";
}


/*1 ngôi sao*/

.rating>.half:before {
    content: "\f005";
    position: absolute;
}


/*0.5 ngôi sao*/

.rating>label {
    font-size: 40px;
    color: #ddd;
    float: right;
}


/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/


/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/

.rating>input:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #FFED85;
}


/* Hover vào các sao phía trước ngôi sao đã chọn*/

.rating>input:checked+label:hover,
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
.rating>input:checked~label:hover~label {
    color: orange;
}

.container {
    min-width: 1140px;
}

.fa-heart {
    font-size: 25px;
}

.scale:hover {
    transition-duration: 1s;
    transform: scale(1.05);
    /* phóng to 1.5 lần*/
}

.skew:hover {
    transition-duration: 1s;
    transform: skew(15deg, 15deg);
}

.ba-cham {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.translate:hover {
    transition: transform 1s;
    transform: translateY(-10px);
}

.bottom:active {
    transform: translateX(100px);
    transform: rotate(270deg);
    transform-origin: top;
}

#btnTym:active>.tym {
    transform: scale(1.4);
    color: red;
}

#btnTym {
    display: flex;
    justify-items: center;
    align-items: center;
}

.discount {
    padding: 5px;
    border-radius: 0 0 999px 999px;
    top: 5px;
    left: 5px;
}

.mau-thong-tin {
    color: #000000CC;
}

.mau-ten-thong-tin {
    color: #00000066;
}
/*ul.tabs{
    display: flex;
    justify-content: center;
}*/
a.text-dark:focus{
    color: white!important;
}
.nav-tabs .nav-link.active{
    background-color: rgb(215, 0 ,24, .7);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    color: white!important;
}
.paginationPage {
    width: 100%;
    display: flex;
    justify-content: center;
}

.page-link {
    margin-left: 1px;
    display: inline-block;
    color: #777;
    font-size: 14px;
}

a.page-link, span.page-link {
    display: inline-block;
    color: #777;
    font-size: 14px;
}

.paginationPage ul {
    list-style-type: none;
}

.pagination li {
    display: inline-block;
    text-align: center;
    transition: background-color .3s;
    border-radius: 2px;
}

.pagination > .page-link {
    width: 43px;
    height: 34px;
    text-align: center;
    padding: 4px 16px;
    margin: 3px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 2px;
}

/* thiết lập style cho class active */
.pagination li.active > .current {
    background-color: rgb(215, 0 ,24, .7);
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.page-link:active {
    font-size: 14px;

}

.pagination li.disabled > .current {
    background-color: rgb(215, 0 ,24, .7);
}

/* thêm màu nền khi người dùng hover vào class không active */
.pagination li:hover:not(.active) > .page-link {
    background-color: rgb(215, 0 ,24, .7);
    text-decoration: none;
}
.no-review{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

