.footer-container {
    padding: 60px 48px;
    background: var(--bg-footer);
    color: var(--color-footer);
}
.footer-nav {
    display: flex;
    gap: 48px;
}
.footer-nav-list {
    width: calc(20% - 16px);
    list-style: none;
}
.footer-nav-item {
    padding: 4px 0;
}

.footer-nav-title {
    position: relative;
    width: 100%;
    font-size: 18px;
}
.footer-nav-title::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 48px;

    border-bottom: 1px solid var(--color-primary-light);
}
.footer-nav-link {
    text-decoration: none;
    color: var(--text-grey);
    transition: all 0.25s;
}

.footer-nav-item:hover > .footer-nav-link {
    margin-left: 8px;
    color: var(--color-primary-light);
}
.footer-nav-link > i {
    color: #fff;
    font-size: 18px;
    padding: 8px;
}
