.header {
    z-index: 4;
    background-color: #232F3E;
}

.header-top__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.header-top__navbar-list>li {
    position: relative;
    display: inline-block;
    font-size: 1.2rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 400;
    line-height: 30px;
}

.header-top__navbar-list>li:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header-top__navbar-list>li::after {
    content: "";
    display: block;
    position: absolute;
    height: 12px;
    top: 50%;
    right: -19px;
    transform: translateY(-50%);
    width: 1px;
    background-color: #CACACA;
}

.header-top__navbar-list>li:last-child::after {
    display: none;
}

.header-top__navbar-list>li+li {
    margin-left: 33px;
}

.header-center__logo {
    margin: 0;
    padding: 15px 0;
}

.header-center__search {
    padding: 15px;
}

.header-center__search-wrapper {
    display: inline-block;
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    width: 96%;
}

.search-category-wrapper {
    height: 36px;
    color: #222;
    font-size: 1.4rem;
}

.search-category-wrapper .btn-category {
    border: 0;
    color: #fff;
    background: #e9611e;
    font-weight: normal;
    width: 133px;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    overflow: hidden;
    text-align: left;
    font-size: 1.2rem;
    padding: 0 10px;
}

.search-category-wrapper .btn-category #search-category {
    width: 105px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
}

.header-center__search-input {
    height: 36px;
    border-radius: 0;
    border: none;
    outline: none;
    line-height: 36px;
    padding: 0 10px;
    font-size: 1.2rem;
    width: 100%;
    margin-right: 36px;
}

.header-center__search-button {
    line-height: 36px;
    padding: 0 10px;
    border: 0;
    position: absolute;
    right: 0;
    background: none;
    height: 100%;
    color: #e9611e;
    font-size: 1.6rem;
}

/*.header-center__search-button:hover,*/
/*.header-center__cart-link:hover {*/
/*    background: none repeat scroll 0 0 var(--primary-color);*/
/*}*/

.header-center__account .btn-account {
    display: table;
    color: #fff;
}

.header-center__account .btn-account .sign-icon {
    display: table-cell;
    vertical-align: middle;
    padding: 2px 8px 0 0;
}

.header-center__account .btn-account .account-name {
    display: table-cell;
    vertical-align: center;
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    line-height: 18px;
}

.header-center__right-area {
    padding: 20px 0;
}

.header-center__form-minicart:hover {
    transition: all 0.3s ease-out 0s;
}

.header-center__form-minicart > a {
    float: left;
    display: inline-block;
    color: var(--white-color);
    font-size: 1.8rem;
}

.header-center__cart-icon {
    position: relative;
}

.header-center__cart-icon::after {
    position: absolute;
    top: -10px;
    right: -13px;
    display: block;
    background-color: red;
    border-radius: 10px;
    text-align: center;
    width: 25px;
    font-size: 1.2rem;
    height: 20px;
    line-height: 16px;
    border: 2px solid #302C3B;
    content: attr(data-number);
}

/*.header-center__cart-number {*/
/*    width: 52px;*/
/*    height: 52px;*/
/*    float: left;*/
/*    display: block;*/
/*    text-align: center;*/
/*    border-radius: 50%;*/
/*    color: #fff;*/
/*    background: url(../imgs/icon-cart.png) no-repeat scroll bottom 9px center var(--primary-color);*/
/*    line-height: 30px;*/
/*    font-size: 1.2rem;*/
/*    font-weight: 600;*/
/*    margin-right: 5px;*/
/*}*/

/*.header-center__shopping-text {*/
/*    line-height: 28px;*/
/*}*/

/*.header-center__price-amount {*/
/*    color: var(--primary-color);*/
/*    font-size: 1.6rem;*/
/*    font-weight: 600;*/
/*}*/

.header-center__minicart {
    position: absolute;
    transform: scale(0);
    transform-origin: right top;
    transition: all 0.3s ease-out;
    opacity: 0;
    right: 0;
    top: 80px;
    left: auto;
    width: 250px;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #bbb;
    z-index: 3;
}

.header-center__form-minicart:hover .header-center__minicart {
    transform: scale(1);
    opacity: 1;
}

.header-center__minicart-content {
    max-height: 320px;
    overflow: auto;
    margin: 0 0 20px;
}

.header-center__label-price-total {
    font-size: 1.6rem;
    color: #222;
    font-weight: 600;
    text-transform: uppercase;
}

.header-center__cart-link {
    text-align: center;
    margin: 15px 0;
    text-transform: uppercase;
    border-radius: 23px;
    background-color: #222;
}

.header-center__cart-link a {
    text-decoration: none;
    color: #fff;
    line-height: 46px;
    font-weight: 600;
}

.header-bottom {
    display: none;
    background-color: #e5e5e5;
    min-height: 52px;
}

.header-bottom__navbar-category-title {
    font-size: 1.6rem;
    line-height: 29px;
    padding: 11px 30px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #f5f5f5;
    color: #333;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    position: relative;
}

.header-bottom__navbar-category-title::before {
    content: '\f0c9';
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-size: 16px;
    color: #333;
    margin-right: 10px;
}

.header-bottom__navbar-category-content {
    position: relative;
    margin-bottom: 0;
}

.header-bottom__navbar-category-content>ul {
    position: absolute;
    width: 100%;
    min-width: 270px;
    border: 1px solid #ddd;
    border-top: 0;
}

.header-bottom__navbar-category-content>ul>li {
    padding: 0 20px;
    border: 0;
    line-height: 1.42857;
    cursor: pointer;
}

.header-bottom__navbar-category-content>ul>li:hover {
    background-color: var(--primary-color);
}

.header-bottom__navbar-category-content>ul>li>a {
    font-size: 1.4rem;
    color: #222;
    position: relative;
    padding: 15px 10px;
    font-weight: 600;
    text-transform: capitalize;
    transition: none;
    background: url(../imgs/icon-menu-cat.png) no-repeat left center;
}

.header-bottom__navbar-category-content>ul>li:hover>a {
    background: url(../imgs/icon-menu-cat3.png) no-repeat left center;
    color: #fff;
}

.header-bottom__navbar-category-content>ul>li:hover>a::after {
    color: #fff;
}

.header-bottom__navbar-category-content>ul>li>a::after {
    content: '+';
    font-size: 1.3rem;
    color: #333;
    position: absolute;
    right: 0;
    font-weight: 600;
    border: 0;
}

.header-bottom__nav-item-link {
    display: block;
    border-radius: 0;
    font-size: 1.4rem;
    font-weight: 600;
    color: #222;
    line-height: 52px;
    padding: 0 18px;
    text-transform: uppercase;
}

.header-bottom__nav-menu-item:hover>a,
.header-bottom__nav-menu-item>a.active {
    background-color: #e5e5e5;
    color: var(--primary-color);
}

.header-mobile {
    z-index: 4;
}

.header-mobile .nav-menu-mobile {
    position: relative;
    min-height: 60px;
    margin-bottom: 0;
    background-color: #232F3E;
    z-index: 4;
}

.header-mobile .nav-menu-mobile .header-mobile-top {
}

.header-mobile .nav-menu-mobile .header-mobile-top .btn-side-nav {
    position: relative;
    padding: 2px 5px;
    margin: 15px 0;
    background-color: transparent;
    background-image: none;
    border: 2px solid #fff;
    border-radius: 4px;
    outline: none;
}

.header-mobile .nav-menu-mobile .header-mobile-top .btn-side-nav .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    margin: 4px 0;
    border-radius: 1px;
    background-color: #fff;
}

.header-mobile .nav-menu-mobile .header-mobile-top .navbar-brand {
    position: absolute;
    padding: 18px 0;
    margin-left: 10px;
}

.header-mobile .nav-menu-mobile .header-mobile-top .navbar-brand img {
    width: 100px;
    height: auto;
}

.header-mobile .nav-menu-mobile .header-mobile-top .navbar-cart,
.header-mobile .nav-menu-mobile .header-mobile-top .navbar-user {
    display: block;
    font-size: 2rem;
    width: 40px;
    text-align: center;
    line-height: 60px;
    height: 60px;
    color: #fff;
}

.header-mobile .nav-menu-mobile .header-mobile-top .navbar-cart .cart-icon-wrapper,
.header-mobile .nav-menu-mobile .header-mobile-top .navbar-user .user-icon-wrapper {
    width: auto;
    height: 30px;
}

.header-mobile .nav-menu-mobile .search-form-mobile {
    padding: 0 0 8px;
    position: relative;
    transition: transform .3s;
    margin: 0;
}

.header-mobile .nav-menu-mobile .search-form-header-mobile {
    display: inherit;
    position: relative;
    overflow: visible;
    width: 100%;
}

.header-mobile .nav-menu-mobile .search-form-header-mobile input {
    height: 35px;
    padding-left: 10px;
    font-size: 1.2rem;
    border: none;
}

.header-mobile .nav-menu-mobile .search-form-header-mobile button {
    border: none;
    position: absolute;
    right: 0;
    width: 35px;
    height: 100%;
    font-size: 1.6rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ccc;
    text-align: center;
    color: var(--text-color);
}

.scroll-top {
    position: absolute !important;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-45px);
    -ms-transform: translateY(-45px);
    transform: translateY(-45px);
    margin: auto;
    padding: 0 15px !important;
    max-width: 100%;
}

.over-suggest {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    background-color: rgba(0, 0, 0, .7);
    z-index: 3;
}