header.mt-header .mt-navbar .mt-navbar__box-main {
    width: 100%;
    height: 64px;
    background: #D70018;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
}

header.mt-header .mt-navbar .mt-navbar__box-main.fixed-top+.clear {
    padding-top: 64px;
    background: #D70018;
}

header.mt-header .mt-navbar .mt-navbar__box-main .mt-navbar__box-main-wrapper .box-logo {
    margin: 0 10px 0 0 !important;
    float: left;
}

header.mt-header .mt-navbar .mt-navbar__box-main .mt-navbar__box-main-wrapper .box-logo svg {
    width: 180px;
    height: 35px;
}

header.mt-header .mt-navbar .mt-navbar__box-main .mt-navbar__box-main-wrapper #form-box-search {
    margin: 0 15px 0 0;
}

header.mt-header .mt-navbar .mt-navbar__box-main .mt-navbar__box-main-wrapper .box-search {
    width: 100%;
    float: left;
}

.box-search .input-group-append {
    width: 26px;
    height: 34px;
    padding: 0.5rem 0 0.5rem 1rem;
    background: #FFFFFF;
    border-radius: 1rem 0 0 1rem;
    font-size: 1.6rem;
    color: #707070;
    position: relative;
    z-index: 2;
}

.mt-input {
    height: 34px;
    outline: none;
    font-size: 1.4rem;
}

.box-search .mt-input {
    width: calc(100% - 26px);
    padding: 0.5rem 1rem 0.5rem 0.6rem;
    border: 0;
    border-radius: 0 1rem 1rem 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    position: relative;
    z-index: 2;
}

header.mt-header .mt-navbar .mt-navbar__box-main .mt-navbar__box-main-wrapper .box-about {
    width: calc(100% - (30px + 161px + 500px + (15px * 4)));
    display: flex;
    justify-content: space-between;
}

header.mt-header .mt-navbar .mt-navbar__box-main .mt-navbar__box-main-wrapper .box-about .item-about {
    height: 42px;
    display: flex;
    align-items: center;
    padding: 3px 5px 3px 5px;
    border-radius: 10px;
    text-decoration: none !important;
    position: relative;
}

header.mt-header .mt-navbar .mt-navbar__box-main .mt-navbar__box-main-wrapper .box-about .item-about:hover {
    background: rgba(255, 255, 255, 0.2);
}

header.mt-header .mt-navbar .mt-navbar__box-main .mt-navbar__box-main-wrapper .box-about .item-about .about__box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

header.mt-header .mt-navbar .mt-navbar__box-main .mt-navbar__box-main-wrapper .box-about .item-about .about__box-content {
    font-size: 12px;
    line-height: 1.2;
    color: #ffffff;
}

header.mt-header .mt-navbar .mt-navbar__box-main .mt-navbar__box-main-wrapper .box-about .item-about .about__box-content .title strong {
    font-size: 1.4rem;
    line-height: 1.4;
}

header.mt-header .mt-navbar .mt-navbar__box-main .mt-navbar__box-main-wrapper .box-about .item-about.about-account {
    position: relative;
    flex-direction: column;
    margin: 0 0 0 5px;
    background: rgba(255, 255, 255, 0.2);
}

header.mt-header .mt-navbar .mt-navbar__box-main .mt-navbar__box-main-wrapper .box-about .item-about.about-account .about__box-icon {
    margin: 2px 0 1px 0;
}

header.mt-header .mt-navbar .mt-navbar__box-main .mt-navbar__box-main-wrapper .box-about .item-about.about-account .about__box-menu {
    position: absolute;
    width: 126px;
    top: 100%;
    left: -50%;
    transform: translateX(50%) scale(0);
    transform-origin: top;
    transition: all .1s ease-out;
    opacity: 0;
}

header.mt-header .mt-navbar .mt-navbar__box-main .mt-navbar__box-main-wrapper .box-about .item-about.about-account:hover .about__box-menu {
    transform: scale(1);
    opacity: 1;
}

header.mt-header .mt-navbar .mt-navbar__box-main .mt-navbar__box-main-wrapper .box-about .item-about.about-account .about__box-menu .menu-triangle {
    width: 0;
    height: 0;
    border-bottom: solid 8px #666;
    border-left: solid 8px transparent;
    border-right: solid 8px transparent;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    float: left;
    top: 1px;
}

header.mt-header .mt-navbar .mt-navbar__box-main .mt-navbar__box-main-wrapper .box-about .item-about.about-account .about__box-menu .menu-triangle:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: solid 9px #fff;
    border-left: solid 9px transparent;
    border-right: solid 9px transparent;
    right: -9px;
    position: absolute;
    float: left;
    top: 0;
}

header.mt-header .mt-navbar .mt-navbar__box-main .mt-navbar__box-main-wrapper .box-about .item-about.about-account .about__box-menu .menu-content {
    width: 100%;
    background: #fff;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    border-radius: 1rem;
    -webkit-box-shadow: rgba(60, 64, 67, .1) 0 1px 2px 0, rgba(60, 64, 67, .15) 0 2px 6px 2px;
    box-shadow: rgba(60, 64, 67, .1) 0 1px 2px 0, rgba(60, 64, 67, .15) 0 2px 6px 2px;
}

header.mt-header .mt-navbar .mt-navbar__box-main .mt-navbar__box-main-wrapper .box-about .item-about.about-account .about__box-menu .menu-content li a {
    padding: 2px 8px;
    line-height: 40px;
    color: #333;
    display: block;
    width: 100%;
    height: 40px;
}

header.mt-header .mt-navbar .mt-navbar__box-main .mt-navbar__box-main-wrapper .box-about .item-about.about-account .about__box-menu .menu-content li a:hover {
    text-decoration: none;
    background: #DDDDDD;
}

header.mt-header-mobile {
    position: relative;
    background: none;
    width: 100%;
    height: 45px;
    display: table;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

header.mt-header-mobile.full .mt-navbar {
    height: 88px;
    background: transparent;
    box-shadow: none;
}

header.mt-header-mobile .mt-navbar {
    width: 100%;
    min-width: 320px;
    height: 54px;
    padding: 1rem;
    background: #D70018;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
}

header.mt-header-mobile .mt-navbar .btn-side-nav {
    position: relative;
    padding: 2px 5px;
    background-color: transparent;
    background-image: none;
    border: 2px solid #fff;
    float: left;
    border-radius: 4px;
    outline: none;
    margin: 2px 10px 2px 0;
}

header.mt-header-mobile .mt-navbar .btn-side-nav .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    margin: 4px 0;
    border-radius: 1px;
    background-color: #fff;
}

header.mt-header-mobile.full .mt-navbar .box-logo-full {
    display: block;
}

header.mt-header-mobile .mt-navbar .box-logo-full {
    display: none;
    float: left;
    margin: 0 1rem 0 0;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

header.mt-header-mobile .mt-navbar .box-logo-full a {
    height: 34px;
    display: flex;
    align-items: center;
}

header.mt-header-mobile .mt-navbar #form-box-search-mobile {
    width: calc(100% - ((95px + 36px) + (10px * 2)));
    float: left;
    margin: 0 1rem 0 0;
}

header.mt-header-mobile.full .mt-navbar #form-box-search-mobile {
    width: calc(100% - 20px)!important;
    position: absolute!important;
    bottom: 0;
    min-width: 320px;
}

header.mt-header-mobile .mt-navbar #form-box-search-mobile .box-search {
    width: 100%;
    float: left;
}

header.mt-header-mobile .mt-navbar .box-about {
    float: right;
    display: flex;
    justify-content: space-between;
}

header.mt-header-mobile .mt-navbar .box-about a {
    width: 45px;
    height: 34px;
    padding: 0.2rem 0.2rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    text-decoration: none;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header.mt-header-mobile .mt-navbar .box-about a + a {
    margin-left: 5px;
}

header.mt-header-mobile .mt-navbar+.clear {
    margin-top: 0;
    padding-top: 54px;
}

header.mt-header-mobile.full .mt-navbar+.clear {
    padding-top: 88px!important;
    background: transparent;
}

header.mt-header-mobile+.clear {
    min-width: 320px;
    width: 100%;
    border-radius: 0 0 20px 20px;
    transition: .3s;
    height: 54px;
}

header.mt-header-mobile.full+.clear {
    background: linear-gradient(#D70018, #FCA5A5);
    left: unset;
    height: 175px;
    position: fixed;
    top: 0;
    z-index: -1;
    opacity: 1;
}

header.mt-header-mobile.active .mt-navbar {
    height: 54px;
}

header.mt-header-mobile.active .mt-navbar+.clear {
    padding-top: 54px !important;
}

header.mt-header-mobile.active+.clear {
    height: 141px;
}

header.mt-header-mobile.active .mt-navbar #form-box-search-mobile {
    top: 10px;
    bottom: unset;
}

header.mt-header-mobile .mt-sidebar {
    transform: translateX(-345px);
    top: 0;
    bottom: 0;
    width: 290px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    transition: all .2s ease-in-out;
    z-index: 1032;
}

header.mt-header-mobile .mt-sidebar .sidebar-header {
    padding: 6px;
    position: relative;
    height: 52px;
}

header.mt-header-mobile .mt-sidebar .sidebar-header .close-sidebar {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    width: 52px;
    height: 52px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 36%;
    filter: brightness(0);
    background-image: url("../imgs/left-arrow-white.svg");
}

header.mt-header-mobile .mt-sidebar .sidebar-header > h3 {
    padding: 10px 0 0 20px;
    text-align: center;
    font-size: 1.8rem;
}

.over-suggest {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: none;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    z-index: 3;
}

.over {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: rgba(0, 0, 0, .6);
    opacity: .5;
    z-index: 1031;
}

.loader-wrapper {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1033;
    transition: .3s ease-in-out;
}

.loader {
    display: inline-block;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #D70018; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}