header {
}
.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo {
    flex-grow: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #000; */
}
.header-logo img {
    width: 160px;
    cursor: pointer;
}
.header-search {
    flex-grow: 6;
    min-width: 300px;
    /* background: rgb(216, 158, 158); */
}

.search-box {
    display: flex;
    padding: 8px 4px;
    margin: 16px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 8px;
}

.search-box i {
    padding: 4px 12px;
    font-size: 18px;

    color: rgb(100, 100, 100);
    cursor: pointer;
}
.search-input {
    width: 100%;
    padding-left: 8px;
    font-size: 16px;
    border: none;
    outline: none;
}

.search-input::placeholder {
    font-size: 16px;
}

.header-user-actions {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgb(168, 245, 153); */
}
.action-btn {
    padding: 8px 16px;
    font-size: 28px;
    color: rgb(60, 60, 60);
    cursor: pointer;
}

/* Navigation */
.desktop-nav {
}
.desktop-nav-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-nav);
}

.desktop-nav-list::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 50%;
    /* background: rgba(0, 0, 0, 0.1); */
    box-shadow: 0 0 8px rgba(50, 50, 50, 0.3);
    /* filter: blur(10px); */
    z-index: -1;
}

.desktop-nav-list .arrow-icon-menu {
    padding: 4px;
}

.desktop-nav-list .desktop-nav-item {
    position: relative;
    display: inline-block;
    list-style: none;
}
.desktop-nav-list > .desktop-nav-item > a {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-nav);
}

.desktop-nav-list .desktop-nav-item a {
    position: relative;
    display: block;
    padding: 12px 24px;

    text-decoration: none;
    border-radius: 4px;
}

.desktop-nav-list .desktop-nav-item a::after {
    /* hightlight bottom of nav item */
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 2px;
    width: calc(100% - 24px - 24px);
    margin: 0 24px;

    transform-origin: left center;
    background-color: var(--color-nav-hover);
    transform: scaleX(0);
    transition: 0.25s;
}
.desktop-nav-list > .desktop-nav-item > a:hover::after {
    transform: scaleX(1);
}

/* --Sub nav */
.desktop-nav-list .desktop-subnav {
    border-radius: 8px;
}
.desktop-nav-list > .desktop-nav-item:hover .desktop-subnav {
    display: block;
}

.desktop-nav-list > .desktop-nav-item:hover > a,
.desktop-nav-list .desktop-subnav > li:hover > a {
    color: var(--color-nav-hover);

    text-decoration: none;
}

.desktop-nav-list .desktop-subnav {
    display: none;
    position: absolute;
    top: calc(100% + 3px);
    left: 24px;

    width: 100%;
    background: var(--bg-nav);
    list-style: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    animation: floatUp 0.25s ease;
}

.desktop-nav-list .desktop-subnav li {
    background: var(--bg-color-primary);
}
.desktop-nav-list .desktop-subnav li a {
    color: var(--color-nav);
}
.nav-arrow-down {
    padding: 0 4px;
    font-size: 16px;
}

@keyframes floatUp {
    0% {
        opacity: 0;
        top: calc(100% + 60px);
    }
    100% {
        opacity: 1;
        top: calc(100% + 3px);
    }
}

@media only screen and (max-width: 48em) {
    .header-logo img {
        width: 100%;
        cursor: pointer;
    }

    .header-user-actions {
        display: none;
    }

    .desktop-nav-list .desktop-nav-item a {
        font-size: 1rem;
    }
}
