
.home-container {
    margin-top: 66px;
}

#home-page {
    background-color: #F4F4F4;
}

#home-page .cate-box {
    border-radius: 6px;
    box-shadow: 0 0 3px 0 #dee2e6;
}

.box-container {
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: var(--white-color);
    padding: 5px 5px 0 5px;
    border-right: 6px;
}

.box-left {
    width: calc(100% - 390px);
}

#stardust-carousel {
    width: 100%;
    height: 450px;
}

#stardust-carousel .carousel-inner .carousel-item,
#stardust-carousel .carousel-inner {
    height: 100%;
}

#stardust-carousel .carousel-inner .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #F4F4F4;
    border-radius: 4px;
}

/*#stardust-carousel .carousel-indicators {*/
/*    left: 0;*/
/*    top: 100%;*/
/*    transform: matrix(1, 0, 0, 1, 30, -32);*/
/*    right: auto;*/
/*    margin: auto;*/
/*    z-index: 1;*/
/*}*/

/*#stardust-carousel .carousel-indicators > li {*/
/*    border: 2px solid #d5d9db;*/
/*    width: 8px;*/
/*    height: 8px;*/
/*    background-color: transparent;*/
/*    border-radius: 2px;*/
/*    margin-right: 8px;*/
/*    opacity: unset;*/
/*    transition: .3s ease;*/
/*}*/

/*#stardust-carousel .carousel-indicators .active {*/
/*    opacity: unset;*/
/*    background-color: var(--primary-color);*/
/*    border: 2px solid var(--primary-color);*/
/*}*/

/*#stardust-carousel .carousel-control-prev,*/
/*#stardust-carousel .carousel-control-next {*/
/*    top: 100%;*/
/*    left: 100%;*/
/*    bottom: auto;*/
/*    height: 44px;*/
/*    width: 44px;*/
/*    line-height: 44px;*/
/*    display: block;*/
/*    border-radius: 50%;*/
/*    opacity: 1;*/
/*}*/

/*#stardust-carousel .carousel-control-prev {*/
/*    transform: matrix(1, 0, 0, 1, -129, -64);*/
/*    background: url(../imgs/revo-prev.png) no-repeat center center #65615d;*/
/*}*/

/*#stardust-carousel .carousel-control-next {*/
/*    transform: matrix(1, 0, 0, 1, -74, -64);*/
/*    background: url(../imgs/revo-next.png) no-repeat center center #65615d;*/
/*}*/


/*#stardust-carousel .carousel-control-prev:hover,*/
/*#stardust-carousel .carousel-control-next:hover {*/
/*    background-color: var(--primary-color);*/
/*}*/

.box-right {
    width: 385px;
}

.box-right .box-right-ads {
    position: relative;
    overflow: hidden;
    height: 150px;
}

.box-right .box-right-ads img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #F4F4F4;
}

#home-page .col-border {
    border-right: 1px solid rgba(0, 0, 0, .05);
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

#home-page .col-border:active,
#home-page .col-border:focus,
#home-page .col-border:hover {
    border-color: rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
}

#home-page .ct-item-link {
    display: block;
    height: 100%;
}

.section-categories .cate-item {
    padding: 15px;
}

.section-categories .cate-item picture {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    background-color: #f4f4f4;
    width: 95px;
    height: 95px;
}

.section-categories .cate-item picture img {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 60px;
    max-height: 60px;
    -o-object-fit: contain;
    object-fit: contain;
}

#home-page .ct-item-link .cate-item {
    color: var(--black-color);
}

.section-categories .cate-item .cate-item-name {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.3;
}

.section-banner-sale .picture {
    position: relative;
    width: 100%;
    padding-top: 100px;
    border-radius: 6px;
}

.section-banner-sale .picture img {
    width: 100%;
    height: 100%;
}

.section-product .prd-hot.cate-box {
    padding: 15px 0;
}

.section-product .prd-hot .title {
    color: #eb1c24;
    vertical-align: center;
}

.section-product .prd-hot .title i {
    display: inline-block;
    vertical-align: bottom;
    font-size: 2.8rem;
    margin-right: 8px;
}

.section-product .prd-hot .title h2 {
    display: inline-block;
    margin: 0;
    line-height: 25px;
}

.card-product .card-product-wrapper {
    position: relative;
    overflow: hidden;
    padding: 3px;
}

.section-product .card-product .card-product-wrapper:hover:before {
    height: 100%;
}

.card-product .card-product-wrapper:hover {
    z-index: 3;
}

.card-product .card-product-wrapper:hover:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: calc(100% + 46px);
    background: #fff;
    border-radius: 6px;
    border: solid 1px #dee2e6;
    -webkit-box-shadow: 0 0 2px 0 #dee2e6;
    box-shadow: 0 0 2px 0 #dee2e6;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}

.card-product .card-product-wrapper .sale-label {
    z-index: 1;
    width: 40px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    top: 10px;
    left: 10px;
    background-color: #eb1c24;
    color: #fff;
    display: block;
    font-size: 1.2rem;
    margin-bottom: 15px;
    position: absolute;
    border-radius: 4px;
}

.card-product .card-product-wrapper .card {
    border: 0;
    overflow: hidden;
}

.card-product .card-product-wrapper .card .card-img-top img {
    transition: all .5s;
}

.card-product .card-product-wrapper:hover .card .card-img-top img {
    transform: scale(1.03);
}

.card-product .card-product-wrapper .card-title a {
    font-size: 1.5rem;
    height: 35px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-color);
}

.card-product .card-product-wrapper .card-title:hover a {
    color: #0168fa;
}

 .card-product .card-product-wrapper .card-price-origin {
    font-size: 1.3rem;
    font-weight: 400;
    text-decoration: line-through;
}

.card-product .card-product-wrapper .card-price {
    font-size: 1.8rem;
    color: #eb1c24;
    margin-right: 5px;
}


.filtering .slick-prev,
.filtering .slick-next {
    top: -35px;
    height: 30px;
    width: 30px;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: none;
    text-align: center;
}

.filtering .slick-prev:hover,
.filtering .slick-next:hover {
    opacity: 1;
}

.filtering .slick-next {
    right: 10px;
    left: auto;
}

.filtering .slick-prev {
    right: 45px;
    left: auto;
}

.filtering .slick-prev:before {
    content: '\f104';
}

.filtering .slick-next:before {
    content: '\f105';
}

.filtering .slick-prev:before,
.filtering .slick-next:before {
    line-height: 28px;
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 900;
    color: #7f7f7f;
    font-size: 1.8rem;
}

.load-more .load-more-wrapper a {
    font-size: 1.4rem;
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.load-more .load-more-wrapper a:hover {
    color: #fff;
    background-color: var(--primary-color);
}

/*.glider-contain .glider-prev,*/
/*.glider-contain .glider-next {*/
/*    top: -60px;*/
/*    height: 30px;*/
/*    width: 30px;*/
/*    display: inline-block;*/
/*    border: 1px solid #ddd;*/
/*    border-radius: 3px;*/
/*    background-color: #fff;*/
/*    color: #ddd;*/
/*    opacity: 1;*/
/*    font-size: 1.8rem;*/
/*    box-shadow: none;*/
/*    text-align: center;*/
/*}*/

/*.glider-contain .glider-prev:hover,*/
/*.glider-contain .glider-next:hover {*/
/*    background-color: var(--primary-color);*/
/*    border: 1px solid var(--primary-color);*/
/*}*/

/*.glider-contain .glider-next {*/
/*    right: 0;*/
/*    left: auto;*/
/*}*/

/*.glider-contain .glider-prev {*/
/*    right: 35px;*/
/*    left: auto;*/
/*}*/

/*.glider-contain .glider-prev::before {*/
/*    content: '\f104';*/
/*}*/

/*.glider-contain .glider-next::before {*/
/*    content: '\f105';*/
/*}*/

/*.glider-contain .glider-prev::before,*/
/*.glider-contain .glider-next::before {*/
/*    line-height: 28px;*/
/*    font-family: 'Font Awesome 5 Free', sans-serif;*/
/*    font-weight: 900;*/
/*}*/

