@media (max-width: 1199px) {}

@media (max-width: 991px) {
    .header-center__shopping-text {
        display: none;
    }

    .header-center__price-amount {
        display: none;
    }
}


@media (max-width: 767px) {

    .header .header-top {
        display: none;
    }

    .content-first__category {
        display: none;
    }

    .img-qc {
        display: none;
    }
}

@media (max-width: 575px) {}