.home-container {
    margin: 0 48px;
}
.slider-container {
    width: 100%;
    height: 300px;
    background: rgb(245, 184, 214);
    margin: 24px 0;
    border-radius: 16px;
}
.product-container {
    position: relative;
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    gap: 30px;
}
.sidebar-box {
    position: sticky;
    left: 0;
    top: 30px;

    min-width: calc(25% - 15px);
}

.sidebar-showcase {
}

.sidebar-title {
    padding: 16px 0;
    font-size: 20px;
    font-family: "Roboto", serif;
    text-transform: uppercase;
}

.showcase {
    display: flex;
    flex-direction: row;

    margin-top: 16px;
    border: 1px solid var(--border-grey);
    border-radius: 8px;
    font-size: 14px;
    /* background: rgb(239, 239, 239); */
}

.showcase:hover {
    border: 1px solid var(--border-red);
    cursor: pointer;
}

.showcase-img {
    padding: 6px;
}
.showcase-img img {
    width: 100px;
    height: 100%;
    object-fit: cover;
}
.showcase-content {
    margin: 4px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.showcase-title {
    font-size: 14px;
}
.showcase-rating {
    color: var(--color-rating);
}
.showcase-price {
    display: flex;
    flex-direction: row;
    width: 100%;
}
.showcase-price-new {
    font-size: 16px;
    color: var(--text-red);
}
.showcase-price-old {
    margin-left: 8px;
    text-decoration: line-through;
}

/* Product - box */
.product-box {
    min-width: calc(75% - 15px);
    /* background: rgb(110, 255, 171); */
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}
.card-modify {
    border: 1px solid var(--border-grey);

    border-radius: 8px;
    background: var(--bg-card);

    transition: all 0.25s;
    overflow: hidden;
}

.card-modify:hover {
    margin-top: -6px;
    margin-bottom: 6px;
    border: 1px solid var(--border-red);
    cursor: pointer;
}

.card-modify-banner {
    position: relative;
    padding: 4px;
    height: 200px;
}

.product-img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-modify-actions {
    position: absolute;

    top: 48px;
    left: 100%;
    display: flex;
    flex-direction: column;

    transition: all 0.25s;
}

.card-modify-actions .action-btn {
    font-size: 14px;
    padding: 4px 8px;
    margin: 8px;
    border: 1px solid var(--border-red);
    border-radius: 4px;
    background: var(--bg-card);
}

.card-modify:hover .card-modify-actions {
    display: flex;
    left: calc(100% - 48px);
}

.card-modify-content {
    padding: 12px 18px;
}
.product-title {
    padding: 4px 0;
    color: var(--text-black);
}
.product-rating {
    padding: 4px 0;
    color: var(--color-rating);
}
.product-price {
    padding: 4px 0;
}

.product-price-new {
    color: var(--text-red);
    font-weight: bold;
    font-size: 18px;
}
.product-price-old {
    color: var(--text-grey);
    text-decoration: line-through;
}

@media only screen and (max-width: 48em) {
    .sidebar-box {
        display: none;
    }
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px) {
    .footer-container {
        display: none;
    }
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
