header.mt-header-form .mt-navbar {
    height: 80px;
}

header.mt-header-form .mt-navbar .mt-navbar__box-main-wrapper .box-logo {
    margin: 0 20px 0 0 !important;
    float: left;
}

header.mt-header-form .mt-navbar .mt-navbar__box-main-wrapper .box-logo svg {
    width: 230px;
    height: 50px;
}

header.mt-header-form .mt-navbar .mt-navbar__box-main-wrapper .box-title h3 {
    margin: 0;
    font-size: 24px;
}