* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    min-width: 1140px;

}

.search-nav-filter {
    width: 20%;
    height: 100%;
    font-size: 14px;
    color: rgba(0, 0, 0, .8);
}

.search-content {
    position: relative;
    width: 80%;
    height: 100%;
    padding: 4px;
}

.filter-title {
    width: 100%;
}

.fa-solid {
    font-size: 12px;
}

.fa-filter {
    padding: 5px;
    font-size: 16px;
}

.filter-title > p {
    font-size: 16px;
    font-weight: 700;
    color: rgba(0, 0, 0, .8);
    text-transform: uppercase;
    margin-top: 10px;
}

.filter-body {
    width: 100%;
    border-bottom: 1px solid rgba(209, 19, 19, 0.09);
    padding-left: 5px;
    padding-right: 5px;
}

.group-filter {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 2px;
}

.group-filter-header {
    text-align: start;
    margin-bottom: 5px;
}

.hidden {
    cursor: pointer;
    margin-left: 20px;
    display: none;
}

.add {
    cursor: pointer;
    margin-left: 20px;
}

.add > i {
    font-size: 12px;
}

.group-filter-content-item {
    padding-left: 3px;
    width: 100%;
    display: flex;
    align-content: center;
}

.group-filter-content-item > input {
    border: 1px solid rgba(0, 0, 0, .26);
    border-radius: 2px;
    width: 6%;
    margin-top: 4px;
}

.group-filter-content-item > label {
    width: 92%;
    display: inline-block;
    margin-left: 2px;
    padding-left: 3px;
}

.group-filter-content-add {
    display: none;
}

.group-filter-content-item > input,
label {
    cursor: pointer;
    vertical-align: middle;
}

.filter-evaluate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-evaluate > .fa-star {
    font-size: 12px;
    margin: 1px;
}

.filter-evaluate > input {
    margin-right: 5px;
}

.filter-evaluate > .up {
    margin-left: 5px;
    font-size: 12px;
}

div.filter-evaluate > .checked {
    color: orange;
}

#fromPrice,
#toPrice {
    width: 48%;
    height: 34px;
    margin-left: 0;
    border-radius: 0.125rem;
    box-shadow: inset 0 1px 0 0 rgb(0 0 0 / 5%);
    border: 1px solid rgba(0, 0, 0, .26);
}

#fromPrice::placeholder,
#toPrice::placeholder {
    padding: 5px;
}

.submitPrice {
    width: 100%;
    height: 34px;
    margin-top: 10px;
    background-color: #ff9999;
    font-weight: 400;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    border-radius: 2px;
    text-transform: uppercase;
    box-shadow: 0 1px 1px 0 rgba(31, 31, 31, 0.001);
    display: flex;
    border: none;
    align-items: center;
    justify-content: center;
}

.result-bar {
    width: 100%;
    height: 40px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 13px;

}

.result-bar > p {
    font-size: 14px;
    display: inline-block;
    line-height: 40px;
    margin-left: 5px;
}

.result-bar > p > span {
    color: #ff9999;
}

.sort-bar {
    position: relative;
    background-color: rgb(148, 145, 145);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
}

.sort-bar > div {
    position: absolute;
}

.sort-button {
    left: 15px;
}

.next-page {
    right: 15px;
}

.sort-bar a {
    text-decoration: none;
    color: white;
    padding: 5px;
    display: inline-block;
}

#sort {
    display: inline;
    margin: 0;
    padding: 0;
}

#sort li {
    background-color: white;
    display: inline-block;
    cursor: pointer;
}

#sort li:hover {
    background-color: #ff9999;
}

#sort li:hover ul {
    display: block;
}

#sort li ul {
    position: absolute;
    background-color: white;
    width: 100px;
    display: none;
}

#sort li ul li {
    width: 150px;
    /*margin-left: -40px;*/
}

#sort li ul li a {
    width: 150px;
    display: block !important;
}

#sort li ul li:hover {
    background-color: white;
    color: red;
    cursor: pointer;
}

.btn-ss {
    width: 100px;
    margin-right: 10px;
    text-align: center;
}

#sort li.btn-ss-active {
    background-color: #ff9999;
}

#btnGia {
    display: block;
    width: 150px;
}

#btnGia>a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}

.select-price-item{
    margin-left: -40px;
    text-align: center;
}

.btn-select-price {
    float: right;
}

#btnGia > a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
}
.next-page {
    display: inline;
    height: 34px;
}

.next-page > span {
    width: 100px;
    height: 34px;
    font-size: 14px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.error-null {
    justify-content: center;
    align-items: center;
    min-height: 500px;
    flex-direction: column;
}

.no-products img {
    max-width: 300px;
}

#list-product {
    max-height: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
#list-product > div.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
div.gallery {
    margin: 10px;
    width: 218px;
    color: #000000DE;
    height: 290px;
    border-radius: 2px;
    box-shadow: 0 3px 5px rgb(0 0 0 / 15%);
}

.desc-link:hover {
    text-decoration: none;
}

.desc-link:active {
    text-decoration: none;
}

div.gallery:hover {
    transform: translateY(-2px);
    border: 1px solid #ff9999;
}

div.gallery img {
    width: 100%;
    height: 180px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

div.description {
    padding: 5px;
    text-align: center;
    height: 110px;
    width: 100%;
}

div.desc-name {
    font-size: 14px;
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 2px;
}

div.desc-price {
    height: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
}

.desc-price-hidden {
    min-width: 40px;
    font-size: 12px;
    color: #0000008A;
    display: block;
}


.desc-price-hidden-d {
    font-size: 10px;
    text-decoration: underline;
    margin-right: -3px;
    margin-left: 3px;

}

span.desc-price-display {
    font-size: 16px;
    margin-left: 10px;
    vertical-align: text-bottom;
    padding-top: 2px;
    color: red;
}

.desc-price-display-d {
    font-size: 12px;
    text-decoration: underline;
    vertical-align: bottom;
    margin-right: -4px;
}

div.desc-eval {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.desc-eval > .fa-star {
    font-size: 10px;
}

.desc-eval > .da-ban {
    font-size: 12px;
    vertical-align: bottom;
    right: 0px;
    margin-left: 10px;
}

div.desc-eval > .checked {
    color: orange;
}

div.desc-address {
    margin-top: 2px;
    font-size: 12px;
    text-align: right;
}

.paginationPage {
    display: flex;
    justify-content: center;
    width: 80%;

}

.page-link {
    display: inline-block;
    color: #777;
    font-size: 14px;
}

a.page-link, span.page-link {
    display: inline-block;
    color: #777;
    font-size: 14px;
}

.paginationPage ul {
    list-style-type: none;
}

.pagination li {
    display: inline-block;
    text-align: center;
    transition: background-color .3s;
    border-radius: 2px;
}

.pagination > .page-link {
    text-align: center;
    padding: 4px 16px;
    margin: 3px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 2px;
}
.pagination > a,.pagination > li, .pagination >span{
    width:30px;
    height: 30px;
}

/* thiết lập style cho class active */
.pagination li.active > .current {
    background-color: #ff9999;
    color: black;
    font-size: 14px;
    text-decoration: none;
}

.page-link:active {
    font-size: 14px;

}

.pagination li.disabled > .current {
    color: #ff9999;
}

/* thêm màu nền khi người dùng hover vào class không active */
.pagination li:hover:not(.active) > .page-link {
    color: #ff9999;
    text-decoration: none;
}


