<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Shopping Cart</title>

    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/845e26e92f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"/>
    <!-- css - bootstrap -->
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <link rel="stylesheet" th:href="@{/css/checkout.css}"/>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
</head>

<body>
<header>
    <div class="card">
        <div class="row d-flex justify-content-between px-3 top">
            <div class="d-flex">
                <h5>ORDER <span class="text-primary font-weight-bold">#Y34XDHR</span></h5>
            </div>
            <div class="d-flex flex-column text-sm-right">
                <p class="mb-0">Expected Arrival <span>01/12/19</span></p>
                <p>USPS <span class="font-weight-bold">234094567242423422898</span></p>
            </div>
        </div> <!-- Add class 'active' to progress -->
        <div class="row d-flex flex-row">
            <!-- <div class="header-logo col-4">
                    <img src="./assets/image/main-logo.jpg" alt="Logo" />
                </div> -->
            <div class="col-12">
                <ul id="progressbar" class="text-center ">
                    <li class="active step0">Đăng nhập</li>
                    <li class="active step0"></li>
                    <li class="active step0">Thanh toán</li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="mt-5 container">
    <h2 class="step">1. Chọn hình thức giao hàng</h2>
    <div class="container-fluid info">
        <div class="row">
            <div class="delivery col-12">
                <div class="radio-buttons">
                    <label class="custom-radio">
                        <input type="radio" name="delivery-form" id="fast"/>
                        <span class="radio-btn"><i class="las la-check"></i>
                                <div class="hobbies-icon">
                                    <i class="las la-biking"></i>
                                    <h3>Giao hàng nhanh</h3>
                                </div>
                        </span>
                    </label>
                    <label class="custom-radio">
                        <input type="radio" name="delivery-form" id="save"/>
                        <span class="radio-btn"><i class="las la-check"></i>
                                <div class="hobbies-icon">
                                    <i class="las la-blind"></i>
                                    <h3>Giao hàng tiết kiệm</h3>
                                </div>
                            </span>
                    </label>
                    <label class="custom-radio">
                        <input type="radio" name="delivery-form" id="express"/>
                        <span class="radio-btn"><i class="las la-check"></i>
                                <div class="hobbies-icon">
                                    <i class="las la-fighter-jet"></i>
                                    <h3>Hỏa tốc</h3>

                                </div>
                            </span>
                    </label>
                </div>
                <div class="row text-center">
                    <span class="col-12 mt-2"  >
                        Thời gian giao hàng từ: <span id="deliveryDateFrom" ></span> -> <span id="deliveryDateto" ></span>
                    </span>

                </div>
            </div>
            <div class="col-12" style="padding: 0 20px 20px 20px;">
                <div class="address d-flex justify-content-between">
                    <b style="margin-top: 5px;"><i class="fa-solid fa-location-dot"></i> Địa chỉ nhận hàng</b>
                    <a href="#mod"><b style="margin-top: 5px;">Thay đổi</b></a>
                </div>
                <div>
                    <span><i
                            class="fa-solid fa-address-card"></i> [[${CUSTOMER.firstName}]] [[${CUSTOMER.lastName}]]</span>
                    -
                    <span>Điện thoại <i class="fa-solid fa-phone"></i> : [[${CUSTOMER.phoneNumber}]]</span> <br>
                    <span>[[${CUSTOMER.profile}]]</span>

                </div>
            </div>
            <div class="list-product cart container align-items-center">
                <h2 style="margin:auto; width: 100px;">Đơn hàng</h2>
                <div class="row">
                    <div class="List-product col-8" id="style-7">
                        <h4 class="mt-3">Sản phẩm</h4>
                        <th:block th:each="ItemCart :${LIST_ITEMCART}">
                            <div class="row main align-items-center line" th:id="${ItemCart.product.productId}">
                                <div class="col-3 d-flex ">
                                    <img class="img-product" th:src="${ItemCart.product.thumbnail}">
                                </div>
                                <div class="col-4">
                                    <div class="row text-muted">[[${ItemCart.product.title}]]</div>
                                    <div class="row">[[${ItemCart.product.category.name}]]</div>
                                </div>
                                <div class="col d-flex">
                                    <div class="d-flex flex-column">
                                        <span class="old-price" th:text="${#numbers.formatDecimal(ItemCart.product.price,3,'POINT',0,'POINT') + '&nbsp;₫'}" ></span>
                                        <span class="new-price" th:id="'newPrice'+${ItemCart.product.productId}"
                                              th:text="${#numbers.formatDecimal(ItemCart.product.price - (ItemCart.product.price * (ItemCart.product.productDiscounts.isEmpty()
                                                  ? ItemCart.product.discountPercentBase
                                                  : ItemCart.product.productDiscounts.get(ItemCart.product.productDiscounts.size() - 1).discountPercent)),3,'POINT',0,'POINT') + '&nbsp;₫'}"></span>
                                    </div>
                                </div>
                                <div class="col-1 d-flex">
                                    <span class="quantity">[[${ItemCart.quantity}]]</span>
                                </div>
                                <div class="col d-flex">
                                    <span th:id="'subtotal'+${ItemCart.product.productId}"
                                          th:with="result=${(ItemCart.product.price - (ItemCart.product.price * (ItemCart.product.productDiscounts.isEmpty()
                                          ? ItemCart.product.discountPercentBase
                                          : ItemCart.product.productDiscounts.get(ItemCart.product.productDiscounts.size() - 1).discountPercent))) * ItemCart.quantity}">
                                        <span th:text="${#numbers.formatDecimal(result,3,'POINT',0,'POINT') + '&nbsp;₫'}"
                                              th:id="'subTotalPrice'+${ItemCart.product.productId}"
                                              class="subTotal-product">
                                      </span>
                                    </span>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div class="col-4 " th:with="ItemCard=${LIST_ITEMCART}">
                        <div class="orderInf">
                            <div class="row mt-2 m0">
                                <h4 class=" col-12 mt-3 border-bottom pb-2">Tổng số sản phẩm:
                                    [[${ItemCard.size()}]]</h4>
                            </div>
                            <div class="row mt-2 m0">
                                <div class="col">Tạm tính</div>
                                <div class="col"><span class="float-right" id="tempt">0đ</span></div>
                            </div>
                            <div class="row mt-2 m0">
                                <div class="col">Phí vận chuyển</div>
                                <div class="col"><span class="float-right" id="cost">0đ</span></div>
                            </div>
                            <div class="row mt-2 m0">
                                <div class="col-8">Khuyến mãi vận chuyển</div>
                                <div class="col"><span class="float-right" id="promotion">0đ</span></div>
                            </div>
                            <div class="row border-bottom mt-2 pb-2 m0">
                                <div class="col">Giảm giá</div>
                                <div class="col"><span class="float-right" id="discount">0đ</span></div>
                            </div>
                            <div class="row mt-2 m0">
                                <div class="col"><span style="font-weight:600">Tổng tiền</span></div>
                                <div class="col"><span class="float-right"
                                                       style="color: rgb(255, 64, 64); font-size: 20px;" id="total">54.000đ</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 class="step">2. Chọn hình thức thanh toán</h2>
    <div class="container-fluid info">
        <div class="row">
            <div class="delivery col-12">
                <div class="radio-buttons">
                    <label class="custom-radio">
                        <input type="radio" name="payment" id="zalo"/>
                        <span class="radio-btn"><i class="las la-check"></i>
                                <div class="hobbies-icon">
                                    <img class="logo-pay" th:src="@{/imgs/cart/zalo-pay.jpg}">
                                    <h3>Ví ZaloPay</h3>
                                </div>
                            </span>
                    </label>
                    <label class="custom-radio">
                        <input type="radio" name="payment" id="cash"/>
                        <span class="radio-btn"><i class="las la-check"></i>
                                <div class="hobbies-icon">
                                    <img class="logo-pay" th:src="@{/imgs/cart/truc-tiep.png}">
                                    <h3>Tiền mặt</h3>
                                </div>
                            </span>
                    </label>
                    <label class="custom-radio">
                        <input type="radio" name="payment" id="momo"/>
                        <span class="radio-btn"><i class="las la-check"></i>
                                <div class="hobbies-icon">
                                    <img class="logo-pay" th:src="@{/imgs/cart/momo.jpg}">
                                    <h3>Ví Momo</h3>
                                </div>
                            </span>
                    </label>

                </div>
            </div>
        </div>
    </div>
    <form id="sel" action="/cart/checkout/confirm" method="post">
    </form>
    <button class="btn-red" id="btn-buy">Mua hàng</button>
</div>
<script th:src="@{/js/checkout.js}"></script>
</body>

</html>