<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
    <th:block th:replace="fragments :: base ('Admin')" />
    <link rel="stylesheet" th:href="@{/css/admin.css}">
<!--    <th:block th:replace="fragments :: search"/>-->
    <th:block th:replace="fragments :: richtext"/>
</head>
<body>

<div id="wrapper">
    <nav th:replace="fragments_dashboard/nav :: header"></nav>
    <div class="container-fluid">
        <div class="row">
            <nav th:replace="fragments_dashboard/nav :: sidebar"></nav>
            <div layout:fragment="content"></div>
        </div>
    </div>
</div>

<th:block th:replace="fragments :: base-js"/>
<th:block th:replace="fragments :: richtext-js" />
<script lang="javascript">

    // $('#shortDescTextarea').richText()
    // $('#descriptionTextarea').richText()
    // $('.shortDescTextarea_edit').richText()
    $('.descRT').richText()
</script>
</body>
</html>