<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <link rel="stylesheet" th:href="@{/css/font-base.css}">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/base-demo.css}">
    <link rel="stylesheet" th:href="@{/css/header-demo.css}">
    <link rel="stylesheet" th:href="@{/css/home-demo.css}">
    <link rel="stylesheet" th:href="@{/css/home-responsive-demo.css}">
</head>
<body>
<header th:fragment="header" id="header" class="header">
    <!--    <div class="header-top d-lg-block d-none">-->
    <!--        <div class="container">-->
    <!--            <div class="header-top__navbar d-flex justify-content-between">-->
    <!--                <div class="header-top__navbar-social d-flex align-items-center pull-left">-->
    <!--                    <ul class="header-top__navbar-list">-->
    <!--                        <li>-->
    <!--                            <i class="fas fa-phone-alt fa-sm fa-fw"></i>-->
    <!--                            Số điện thoại:-->
    <!--                            <span class="text-strong">0-123-456-789</span>-->
    <!--                        </li>-->
    <!--                        <li>-->
    <!--                            <i class="fas fa-envelope fa-sm fa-fw"></i>-->
    <!--                            Email:-->
    <!--                            <span class="text-strong">demo@email.com</span>-->
    <!--                        </li>-->
    <!--                    </ul>-->
    <!--                </div>-->
    <!--                <div class="header-top__navbar-info">-->
    <!--                    <ul class="header-top__navbar-list">-->
    <!--                        <li>-->
    <!--                            <i class="fas fa-heart fa-sm fa-fw"></i>-->
    <!--                            Wishlist-->
    <!--                        </li>-->
    <!--                        <li>-->
    <!--                            <i class="fas fa-user fa-sm fa-fw"></i>-->
    <!--                            Tài khoản-->
    <!--                        </li>-->
    <!--                    </ul>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="header-center d-lg-block d-none">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-2">
                    <div class="header-center__logo">
                        <a href="#">
                            <img src="https://www.industrybuying.com/static/images/industry-buying-white-logo.png"
                                 alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="header-center__search col-md-8">
                    <div class="header-center__search-wrapper">
                        <div class="header-center_search-entry">
                            <form action="">
                                <div class="d-flex">
                                    <div class="search-category-wrapper">
                                        <button type="button" class="dropdown-toggle btn-category"
                                                data-toggle="dropdown">
                                        <span id="search-category">
                                            Tất cả danh mục
                                        </span>
                                        </button>
                                    </div>
                                    <input type="search" class="header-center__search-input flex-fill"
                                           placeholder="Tìm kiếm sản phẩm" name="name">
                                    <button type="submit" title="Search"
                                            class="header-center__search-button">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="header-center__right-area">
                        <div class="header-center__form-minicart pull-left">
                            <a href="#">
                                <div class="header-center__cart-icon" data-number="0">
                                    <i class="fas fa-shopping-cart"></i>
                                </div>
                            </a>
                            <!--                        <div class="header-center__minicart">-->
                            <!--                            <ul class="header-center__minicart-content"></ul>-->
                            <!--                            <div class="header-center__cart-checkout">-->
                            <!--                                <div class="header-top__sidebar-price-total d-flex justify-content-between">-->
                            <!--                                            <span class="header-center__label-price-total">-->
                            <!--                                                Tổng:-->
                            <!--                                            </span>-->
                            <!--                                    <span class="header-center__price-amount">-->
                            <!--                                                $0.00-->
                            <!--                                            </span>-->
                            <!--                                </div>-->
                            <!--                                <div class="header-center__cart-link">-->
                            <!--                                    <a href="#">Xem giỏ hàng</a>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!--                        </div>-->
                        </div>
                        <div class="header-center__account pull-right">
                            <div class="btn-account dropdown-toggle" type="button" data-toggle="dropdown">
                                <div class="sign-icon">
                                    <i class="fas fa-user-circle fa-sm fa-fw"></i>
                                </div>
                                <span class="account-name">Đăng nhập</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom d-none">
        <div class="container">
            <div class="row">
                <div class="header-bottom__navbar-category col-lg-3 col-md-3 col-sm-5">
                    <div class="header-bottom__navbar-category-title">
                        Danh mục sản phẩm
                    </div>
                    <div class="header-bottom__navbar-category-content">
                        <div class="header-bottom__nav-category-resmenu-container">

                        </div>
                        <ul id="menu-vertical-category" class="nav flex-column">
                            <li class="nav-item dropdown">
                                <a href="" class="nav-link dropdown-toggle">
                                            <span class="have-title">
                                                <span class="menu-title">
                                                    Thiết bị camera an ninh
                                                </span>
                                            </span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="" class="nav-link dropdown-toggle">
                                            <span class="have-title">
                                                <span class="menu-title">
                                                    Thiết bị báo động báo cháy
                                                </span>
                                            </span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle">
                                            <span class="have-title">
                                                <span class="menu-title">
                                                    Thiết bị văn phòng - Gia đình
                                                </span>
                                            </span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle">
                                            <span class="have-title">
                                                <span class="menu-title">
                                                    Thiết bị Kiểm soát cửa
                                                </span>
                                            </span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle">
                                            <span class="have-title">
                                                <span class="menu-title">
                                                    Thiết bị viễn thông
                                                </span>
                                            </span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle">
                                            <span class="have-title">
                                                <span class="menu-title">
                                                    Thiết bị số công nghệ
                                                </span>
                                            </span>
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle">
                                            <span class="have-title">
                                                <span class="menu-title">
                                                    Thiết bị điện thông minh
                                                </span>
                                            </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header-bottom__nav-menu col-lg-8 col-md-9 col-sm-7">
                    <ul class="nav nav-pills nav-mega">
                        <li class="header-bottom__nav-menu-item nav-item active">
                            <a class="header-bottom__nav-item-link nav-link" href="#">Trang chủ</a>
                        </li>
                        <li class="header-bottom__nav-menu-item nav-item">
                            <a class="header-bottom__nav-item-link nav-link" href="#">Dịch vụ</a>
                        </li>
                        <li class="header-bottom__nav-menu-item nav-item">
                            <a class="header-bottom__nav-item-link nav-link" href="#">Liên hệ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<div id="header-mobile" th:fragment="header-mobile" class="header-mobile d-lg-none d-block">
    <nav class="nav-menu-mobile">
        <div class="container-fluid">
            <div class="header-mobile-top clearfix">
                <button type="button" class="btn-side-nav pull-left">
                    <i class="icon-bar"></i>
                    <i class="icon-bar"></i>
                    <i class="icon-bar"></i>
                </button>
                <a href="" class="navbar-brand pull-left">
                    <img src="https://www.industrybuying.com/static/images/industry-buying-white-logo.png"
                         alt="Demo">
                </a>
                <a href="" class="navbar-user pull-right">
                    <div class="user-icon-wrapper">
                        <i class="fas fa-user"></i>
                    </div>
                </a>
                <a href="" class="navbar-cart pull-right">
                    <div class="cart-icon-wrapper">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </a>
            </div>
            <div class="search-form-mobile">
                <div class="input-group md-form form-sm form-2 pl-0">
                    <form action="" class="search-form-header-mobile">
                        <input id="search-input-mobile" type="search" class="form-control search-input-mobile"
                               placeholder="Tìm kiếm sản phẩm">
                        <div class="input-group-append">
                            <button type="submit" title="Search"
                                    class="">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="over-suggest" class="over-suggest"></div>


<script th:fragment="glider" src="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.6.6/glider.min.js"
        integrity="sha512-RidPlemZ+Xtdq62dXb81kYFycgFQJ71CKg+YbKw+deBWB0TLIqCraOn6k0CWDH2rGvE1a8ruqMB+4E4OLVJ7Dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:fragment="jquery" src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script th:fragment="bootstrap" src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
<script th:fragment="hammer" src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
        integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:fragment="header-script" th:src="@{/js/header.js}"></script>
<script th:fragment="home" th:src="@{/js/home.js}"></script>
</body>
</html>