<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <link rel="stylesheet" th:href="@{/css/font-base.css}">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
          integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!--jquery-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/css/toastr.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/base-demo.css}">
    <link rel="stylesheet" th:href="@{/css/header-demo.css}">
    <link rel="stylesheet" th:href="@{/css/home-demo.css}">
    <link rel="stylesheet" th:href="@{/css/search.css}">
    <link rel="stylesheet" th:href="@{/css/home-responsive-demo.css}">
    <link rel="stylesheet" th:href="@{/css/detail.css}">
<link rel="stylesheet" th:href="@{/css/simplePagination.css}">
</head>
<body>
<!--/*@thymesVar id="categories" type="java.util.List<com.metan.websalesecurityequipment.model.Category>"*/-->
<!--/*@thymesVar id="isHome" type="java.lang.Boolean"*/-->
<header th:fragment="header" th:with="categories=${categories} ?: null, isHome=${isHome} ?: false" id="header" class="header">
    <div class="header-center d-lg-block d-none">
        <div class="container">
            <div class="row justify-content-between">
                <div th:if="${!isHome}">
                    <div class="header-center__category">
                        <div class="header-center__category-wrapper">
                            <div class="category-text pull-left">
                                Danh mục
                            </div>
                            <span class="category-icon pull-right">
                                <img src="" th:src="@{/imgs/hamburger-icon.png}" alt="">
                            </span>
                            <div class="category-nav">
                                <div class="category-triangle"></div>
                                <nav class="navbar">
                                    <ul class="nav navbar-nav">
                                        <li th:each="category : ${categories}" class="nav-item">
                                            <a href="#" class="nav-link">
                                                <img src="https://static3.industrybuying.com/navigation/1501837652security.png"
                                                     alt="">
                                                [[${category.name}]]
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="header-center__logo">
                        <a href="#">
                            <img src="https://www.industrybuying.com/static/images/industry-buying-white-logo.png"
                                 alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="header-center__search col-md-7">
                    <div class="header-center__search-wrapper">
                        <div class="header-center_search-entry">
                            <form action="">
                                <div class="d-flex">
                                    <div class="search-category-wrapper">
                                        <button type="button" class="dropdown-toggle btn-category"
                                                data-toggle="dropdown">
                                        <span id="search-category">
                                            Tất cả danh mục
                                        </span>
                                        </button>
                                    </div>
                                    <input type="search" class="header-center__search-input flex-fill"
                                           placeholder="Tìm kiếm sản phẩm" name="name">
                                    <button type="submit" title="Search"
                                            class="header-center__search-button">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div>
                    <ul class="header-center__right-section pull-right">
                        <li>
                            <a href="#">
                                <div class="header-center__cart-icon" data-number="0">
                                    <img th:src="@{/imgs/cart-icon.svg}" alt="" src="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="header-center__sign-in-icon">
                                    <img th:src="@{/imgs/signin-icon.svg}" alt="" src="">
                                </div>
                                <div class="account_name">
                                    Đăng nhập
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-mobile d-lg-none d-block">
        <nav class="nav-menu-mobile">
            <div class="container-fluid">
                <div class="header-mobile-top clearfix">
                    <button type="button" class="btn-side-nav pull-left">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </button>
                    <a href="" class="navbar-brand pull-left">
                        <img src="https://www.industrybuying.com/static/images/industry-buying-white-logo.png"
                             alt="Demo">
                    </a>
                    <ul class="header-center__right-section pull-right">
                        <li>
                            <a href="#">
                                <div class="header-center__cart-icon" data-number="0">
                                    <img th:src="@{/imgs/cart-icon.svg}" alt="" src="">
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="header-center__sign-in-icon">
                                    <img th:src="@{/imgs/signin-icon.svg}" alt="" src="">
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="search-form-mobile">
                    <div class="input-group md-form form-sm form-2 pl-0">
                        <form action="" class="search-form-header-mobile">
                            <input id="search-input-mobile" type="search" class="form-control search-input-mobile"
                                   placeholder="Tìm kiếm sản phẩm">
                            <div class="input-group-append">
                                <button type="submit" title="Search"
                                        class="">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
        <div class="sidebar-mobile">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <div class="close-sidebar">
                    </div>
                    <h3>Danh mục</h3>
                </div>
                <ul class="sidebar-menu">
                    <li th:each="category: ${categories}" class="sidebar-dropdown">
                        <a href="#">
                            <img src="https://static3.industrybuying.com/navigation/1501837652security.png" loading="lazy" alt="">
                            [[${category.name}]]
                        </a>
                        <ul class="sidebar-submenu">
                            <li>
                                <a href="#">Submenu 1</a>
                            </li>
                            <li>
                                <a href="#">Submenu 2</a>
                            </li>
                            <li>
                                <a href="#">Submenu 3</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<div th:fragment="over-suggest" class="over-suggest d-lg-none"></div>

<div th:fragment="over" class="over d-lg-none"></div>


<script th:fragment="glider" src="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.6.6/glider.min.js"
        integrity="sha512-RidPlemZ+Xtdq62dXb81kYFycgFQJ71CKg+YbKw+deBWB0TLIqCraOn6k0CWDH2rGvE1a8ruqMB+4E4OLVJ7Dg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:fragment="jquery" src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script th:fragment="bootstrap" src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
<script th:fragment="hammer" src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"
        integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script th:fragment="header-script" th:src="@{/js/header.js}"></script>
<script th:fragment="home" th:src="@{/js/home.js}"></script>
</body>
</html>

<!--<div class="header-center__minicart">-->
<!--    <ul class="header-center__minicart-content"></ul>-->
<!--    <div class="header-center__cart-checkout">-->
<!--        <div class="header-top__sidebar-price-total d-flex justify-content-between">-->
<!--                                                                    <span class="header-center__label-price-total">-->
<!--                                                                        Tổng:-->
<!--                                                                    </span>-->
<!--            <span class="header-center__price-amount">-->
<!--                                                                        $0.00-->
<!--                                                                    </span>-->
<!--        </div>-->
<!--        <div class="header-center__cart-link">-->
<!--            <a href="#">Xem giỏ hàng</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->