<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head th:replace="fragments-demo :: head">
    <title>Trang chủ - Bán thiết bị an ninh</title>
</head>
<body>
<header th:replace="fragments-demo :: header"></header>
<main class="home-container">
    <div class="container">
        <div class="row">
            <div id="content" class="column-container col-12">
                <div class="column-inner">
                    <div class="row row-fluid">
                        <div class="content-first__category column-container col-lg-3 col-sm-12">
                            <div class="column-inner">
                                <div class="content-first__category-title">
                                    Danh mục sản phẩm
                                </div>
                                <div class="content-first__category-content">
                                    <div class="content-first__category-resmenu-container">

                                    </div>
                                    <ul id="menu-vertical-category" class="nav flex-column">
                                        <li th:each="category: ${CATEGORIES}" class="nav-item dropdown">
                                            <a href="" class="nav-link dropdown-toggle">
                                                        <span class="have-title">
                                                            <span class="menu-title">
                                                                [[${category.name}]]
                                                            </span>
                                                        </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="column-container col-lg-9 col-sm-12">
                            <div class="column-inner">
                                <div class="element">
                                    <div class="banner-wrapper">
                                        <div id="carouselId" class="carousel slide carousel-fade"
                                             data-ride="carousel" data-interval="8000">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carouselId" data-slide-to="0" class="active">
                                                </li>
                                                <li data-target="#carouselId" data-slide-to="1"></li>
                                                <li data-target="#carouselId" data-slide-to="2"></li>
                                            </ol>
                                            <div class="carousel-inner" role="listbox">
                                                <div class="carousel-item active">
                                                    <img src="https://vuhoangtelecom.vn/wp-content/uploads/2021/10/KM-GIAO-HANG-MIEN-PHI-TRONG-4H-711X416.jpg"
                                                         alt="banner 1" style="width: 100%;">
                                                    <!-- <div class="carousel-caption d-none d-md-block">
                                                        <h3>Title</h3>
                                                        <p>Description</p>
                                                    </div> -->
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="https://vuhoangtelecom.vn/wp-content/uploads/2022/04/Banner-ban-camera-wifi-thang-4-711x416-1.jpg"
                                                         alt="banner 2" style="width: 100%;">
                                                    <!-- <div class="carousel-caption d-none d-md-block">
                                                        <h3>Title</h3>
                                                        <p>Description</p>
                                                    </div> -->
                                                </div>
                                                <div class="carousel-item">
                                                    <img src="https://vuhoangtelecom.vn/wp-content/uploads/2022/03/Banner-khuyen-mai-thiet-bi-y-te-711x416-1.jpg"
                                                         alt="Banner 3" style="width: 100%;">
                                                    <!-- <div class="carousel-caption d-none d-md-block">
                                                        <h3>Title</h3>
                                                        <p>Description</p>
                                                    </div> -->
                                                </div>
                                            </div>
                                            <div>
                                                <a class="carousel-control-prev" href="#carouselId"
                                                   role="button" data-slide="prev">
                                                </a>
                                            </div>
                                            <div>
                                                <a class="carousel-control-next" href="#carouselId"
                                                   role="button" data-slide="next">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="img-qc row">
                                    <div class="column-container col-sm-6">
                                        <div class="column-inner custom__1">
                                            <div class="single-img element text-sm-left text-center">
                                                <figure class="figure">
                                                    <a href="#">
                                                        <img src="https://vuhoangtelecom.vn/wp-content/uploads/2020/11/banner-lap-dat-camera-wifi-gia-re-thang-11.jpg"
                                                             class="figure-img img-fluid rounded" alt="" style="width: 100%;">
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column-container col-sm-6">
                                        <div class="column-inner custom__2">
                                            <div class="single-img element text-center">
                                                <figure class="figure">
                                                    <a href="#">
                                                        <img src="https://vuhoangtelecom.vn/wp-content/uploads/2021/11/banner-may-xit-khu-khuan-247x.jpg"
                                                             class="figure-img rounded" alt="" style="width: 100%;">
                                                    </a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column-container col-lg-3 col-md-3 col-sm-12">
                            <div class="column-inner">
                                <div class="hot-product-wrapper">
                                    <div id="hot-product-carousel" class="hot-product-carousel carousel slide"
                                         data-ride="carousel" data-interval="0">
                                        <div class="box-slider-title">
                                            <h2>
                                                <span>Hot</span>
                                                Product
                                            </h2>
                                        </div>
                                        <div class="custom-navigation">
                                            <a class="fa fa-angle-left" href="#hot-product-carousel"
                                               role="button" data-slide="prev">
                                            </a>
                                            <a class="fa fa-angle-right" href="#hot-product-carousel"
                                               role="button" data-slide="next">
                                            </a>
                                        </div>
                                        <div class="carousel-inner" role="listbox">
                                            <div class="carousel-item active">
                                                <div th:each="product: ${TOP_PRODUCT_LIST}" class="item-detail d-flex">
                                                    <div class="item-img">
                                                        <a href="#">
                                                            <img th:src="${product.thumbnail}"
                                                                 sizes="(max-width: 112px) 100vw, 112px">
                                                        </a>
                                                    </div>
                                                    <div class="item-content">
                                                        <h4>
                                                            <a href="#">[[${product.title}]]</a>
                                                        </h4>
                                                        <div class="rating">
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="fas fa-star"></i>
                                                            <i class="far fa-star"></i>
                                                        </div>
                                                        <div class="item-price">
                                                            <p>
                                                                        <span>
                                                                            [[${#numbers.formatDecimal(product.price,3,'POINT',0,'POINT')}]]đ
                                                                        </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="column-container col-lg-9 col-md-8 col-sm-12">
                            <div class="column-inner">
                                <div class="product-list-wrapper">
                                    <div class="new-arrival">
                                        <div class="top-tab-slider clearfix">
                                            <div class="box-slider-title">
                                                <h2>
                                                    <span>New</span>
                                                    Arrivals
                                                </h2>
                                            </div>
                                        </div>
                                        <div class="glider-contain">
                                            <div class="glider">
                                                <div th:each="product: ${PRODUCT_LIST}" class="card-product">
                                                    <div class="card-product-wrapper">
                                                        <div class="card text-left">
                                                            <div class="card-img-top">
                                                                <a href="#">
                                                                    <img th:src="${product.thumbnail}"
                                                                         alt="">
                                                                </a>
                                                            </div>
                                                            <div class="card-body">
                                                                <h4 class="card-title">[[${product.title}]]</h4>
                                                                <span class="card-price-origin">[[${#numbers.formatDecimal(product.price,3,'POINT',0,'POINT')}]]đ</span>
                                                                <span class="card-price">
                                                                            [[${#numbers.formatDecimal(product.price,3,'POINT',0,'POINT')}]]đ
                                                                        </span>
                                                                <p class="card-text">

                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <span role="none" aria-label="Previous" class="glider-prev"></span>
                                            <span role="none" aria-label="Next" class="glider-next"></span>
                                        </div>
                                        <div class="load-more pt-4 pb-4 text-center">
                                            <a class="btn btn-outline-primary" href="#">
                                                Xem thêm
                                                <i class="fas fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:replace="fragments-demo :: sticky"></script>
<script th:replace="fragments-demo :: glider"></script>
<script th:replace="fragments-demo :: home"></script>
<script th:replace="fragments-demo :: jquery"></script>
<script th:replace="fragments-demo :: bootstrap"></script>
</body>
</html>