<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head>
    <th:block th:replace="fragments :: base ('Metan - Thiết bị an ninh')"/>
    <th:block th:replace="fragments :: home"/>
</head>
<body>
<th:block th:replace="fragments :: header (categories=${CATEGORIES})"/>

<main class="mt-home">
    <div class="std">
        <section class="container p-xl-0">
            <div class="block-sliding-home float-lg-left">
                <div class="sliding-home d-lg-none d-block">
                    <a href="#">
                        <img th:src="@{/imgs/banner/banner_1.jpg}" src="" alt="">
                    </a>
                    <a href="#">
                        <img th:src="@{/imgs/banner/banner_2.jpg}" src=""
                             alt="">
                    </a>
                    <a href="#">
                        <img th:src="@{/imgs/banner/banner_3.png}" src="" alt="">
                    </a>
                    <a href="#">
                        <img th:src="@{/imgs/banner/banner_4.png}" src="" alt="">
                    </a>
                    <a href="#">
                        <img th:src="@{/imgs/banner/banner_5.jpg}" src="" alt="">
                    </a>
                    <a href="#">
                        <img th:src="@{/imgs/banner/banner_6.jpg}" src="" alt="">
                    </a>
                    <a href="#">
                        <img th:src="@{/imgs/banner/banner_7.png}" src="" alt="">
                    </a>
                </div>
                <div class="block-sliding-home__box-center d-lg-block d-none">
                    <div class="gallery-top">
                        <a href="#">
                            <img th:src="@{/imgs/banner/banner_1.jpg}" src="" alt="">
                        </a>
                        <a href="#">
                            <img th:src="@{/imgs/banner/banner_2.jpg}" src=""
                                 alt="">
                        </a>
                        <a href="#">
                            <img th:src="@{/imgs/banner/banner_3.png}" src="" alt="">
                        </a>
                        <a href="#">
                            <img th:src="@{/imgs/banner/banner_4.png}" src="" alt="">
                        </a>
                        <a href="#">
                            <img th:src="@{/imgs/banner/banner_5.jpg}" src="" alt="">
                        </a>
                        <a href="#">
                            <img th:src="@{/imgs/banner/banner_6.jpg}" src="" alt="">
                        </a>
                        <a href="#">
                            <img th:src="@{/imgs/banner/banner_7.png}" src="" alt="">
                        </a>
                    </div>
                    <div class="gallery-thumbs">
                        <div>
                            MỪNG KHAI TRƯƠNG
                            <br>
                            Giảm sốc đến 65%
                        </div>
                        <div>
                            GIAO HÀNG MIỄN PHÍ
                            <br>
                            Trong 4h tại nội thành TP.HCM
                        </div>
                        <div>
                            SEA GAME RỘN RÃ
                            <br>
                            Chiến game săn quà
                        </div>
                        <div>
                            CP PLUS CAMERA
                            <br>
                            Đảm bảo bảo mật
                        </div>
                        <div>
                            CCTV Camera
                            <br>
                            Giảm sốc đến 50%
                        </div>
                        <div>
                            SINH TRẮC HỌC
                            <br>
                            Kiểm soát bảo mật
                        </div>
                    </div>
                </div>
                <div class="block-sliding-home__box-right d-xl-block d-none">
                    <a href="#">
                        <img alt="A001" src="https://vuhoangtelecom.vn/wp-content/uploads/2021/01/banner-tinh-dung-luong-luu-tru-camera.jpg">
                    </a>
                    <a href="#">
                        <img alt="A002" src="https://vuhoangtelecom.vn/wp-content/uploads/2020/11/banner-lap-dat-camera-wifi-gia-re-thang-11.jpg">
                    </a>
                    <a href="#">
                        <img alt="A003" src="https://vuhoangtelecom.vn/wp-content/uploads/2021/11/banner-may-xit-khu-khuan-247x.jpg">
                    </a>
                </div>
            </div>
        </section>
        <section class="container p-0">
            <div class="block-category float-lg-left">
                <div class="box-title">
                    <a href="#" class="box-title__title">Danh mục</a>
                </div>
                <div class="category__block-list-cate">
                    <div class="block-list-cate">
                        <div class="list-cate row no-gutters">
                            <a class="col-sm-2" th:each="category: ${CATEGORIES}"
                               th:href="@{/search(category=${category.categoryId})}">
                                <img th:src="${category.thumbnail}" src="" th:alt="${category.name}" alt="">
                                <p th:text="${category.name}"></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container p-xl-0">
            <div class="block-hot-sale float-lg-left">
                <div class="block-hot-sale__box-title">
                    <h2>Khuyến mãi hot</h2>
                </div>
                <div class="box-product">
                    <div class="list-product">
                        <div th:each="productDiscount: ${discount.productDiscounts}" class="item-product">
                            <div class="item-product__box-img">
                                <a th:href="@{'/product/detail/'+${productDiscount.product.slug}}">
                                    <img src="" th:src="${productDiscount.product.thumbnail}"
                                         th:alt="${productDiscount.product.name}" alt="">
                                </a>
                            </div>
                            <div th:if="${productDiscount.discountPercent != 0}" class="item-product__sticker-percent">
                                <p th:text="${'Giảm ' + #numbers.formatPercent(productDiscount.discountPercent, 1, 0)}"></p>
                            </div>
                            <div class="item-product__box-name">
                                <a th:href="@{'/product/detail/'+${productDiscount.product.slug}}">
                                    <p th:text="${productDiscount.product.title}"></p>
                                </a>
                            </div>
                            <div class="item-product__box-price">
                                <p class="special-price"
                                   th:text="${#numbers.formatDecimal(productDiscount.product.price - (productDiscount.product.price * productDiscount.discountPercent),3,'POINT',0,'POINT') + '&nbsp;₫'}"></p>
                                <p class="old-price"
                                   th:text="${#numbers.formatDecimal(productDiscount.product.price,3,'POINT',0,'POINT') + '&nbsp;₫'}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container p-xl-0">
            <div class="block-product mb-3">
                <div class="box-title">
                    <h2>Sản phẩm mới nhất</h2>

                </div>
                <div class="box-product">
                    <div class="list-product">
                        <div th:each="product: ${NEW_PRODUCT_LIST} " class="item-product">
                            <div class="item-product__box-img">
                                <a th:href="@{'/product/detail/'+${product.slug}}">
                                    <img src="" th:src="${product.thumbnail}" th:alt="${product.name}" alt="">
                                </a>
                            </div>
                            <div th:if="${(product.productDiscounts.isEmpty() ? product.discountPercentBase : product.productDiscounts.get(product.productDiscounts.size() - 1).discountPercent) != 0}"
                                 class="item-product__sticker-percent">
                                <p th:text="${'Giảm ' + #numbers.formatPercent((product.productDiscounts.isEmpty() ? product.discountPercentBase : product.productDiscounts.get(product.productDiscounts.size() - 1).discountPercent), 1, 0)}"></p>
                            </div>
                            <div class="item-product__box-name">
                                <a th:href="@{'/product/detail/'+${product.slug}}">
                                    <p th:text="${product.title}"></p>
                                </a>
                            </div>
                            <div class="item-product__box-price">
                                <p class="special-price"
                                   th:text="${#numbers.formatDecimal(product.price - (product.price * (product.productDiscounts.isEmpty() ? product.discountPercentBase : product.productDiscounts.get(product.productDiscounts.size() - 1).discountPercent)),3,'POINT',0,'POINT') + '&nbsp;₫'}"></p>
                                <p class="old-price"
                                   th:text="${#numbers.formatDecimal(product.price,3,'POINT',0,'POINT') + '&nbsp;₫'}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container p-xl-0">
            <div class="block-product mb-3">
                <div class="box-title">
                    <h2>Sản phẩm bán chạy</h2>
                </div>
                <div class="box-product">
                    <div class="list-product">
                        <div th:each="product: ${TOP_PRODUCT_LIST}" class="item-product">
                            <div class="item-product__box-img">
                                <a th:href="@{'/product/detail/'+${product.slug}}">
                                    <img src="" th:src="${product.thumbnail}" th:alt="${product.name}" alt="">
                                </a>
                            </div>
                            <div th:if="${(product.productDiscounts.isEmpty() ? product.discountPercentBase : product.productDiscounts.get(product.productDiscounts.size() - 1).discountPercent) != 0}"
                                 class="item-product__sticker-percent">
                                <p th:text="${'Giảm ' + #numbers.formatPercent((product.productDiscounts.isEmpty() ? product.discountPercentBase : product.productDiscounts.get(product.productDiscounts.size() - 1).discountPercent), 1, 0)}"></p>
                            </div>
                            <div class="item-product__box-name">
                                <a th:href="@{'/product/detail/'+${product.slug}}">
                                    <p th:text="${product.title}"></p>
                                </a>
                            </div>
                            <div class="item-product__box-price">
                                <p class="special-price"
                                   th:text="${#numbers.formatDecimal(product.price - (product.price * (product.productDiscounts.isEmpty() ? product.discountPercentBase : product.productDiscounts.get(product.productDiscounts.size() - 1).discountPercent)),3,'POINT',0,'POINT') + '&nbsp;₫'}"></p>
                                <p class="old-price"
                                   th:text="${#numbers.formatDecimal(product.price,3,'POINT',0,'POINT') + '&nbsp;₫'}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section th:each="element : ${categoryListMap}" th:if="${element.getValue().size() > 0}" class="container p-xl-0">
            <div class="block-product mb-3">
                <div class="box-title">
                    <h2 th:text="${element.getKey().name}"></h2>
                    <a th:href="@{/search(category=${element.getKey().categoryId})}">Xem
                        tất cả</a>
                </div>
                <div class="box-product">
                    <div class="list-product">
                        <div th:each="product: ${element.getValue()}" class="item-product">
                            <div class="item-product__box-img">
                                <a th:href="@{'/product/detail/'+${product.slug}}">
                                    <img src="" th:src="${product.thumbnail}" th:alt="${product.name}" alt="">
                                </a>
                            </div>
                            <div th:if="${(product.productDiscounts.isEmpty() ? product.discountPercentBase : product.productDiscounts.get(product.productDiscounts.size() - 1).discountPercent) != 0}"
                                 class="item-product__sticker-percent">
                                <p th:text="${'Giảm ' + #numbers.formatPercent((product.productDiscounts.isEmpty() ? product.discountPercentBase : product.productDiscounts.get(product.productDiscounts.size() - 1).discountPercent), 1, 0)}"></p>
                            </div>
                            <div class="item-product__box-name">
                                <a th:href="@{'/product/detail/'+${product.slug}}">
                                    <p th:text="${product.title}"></p>
                                </a>
                            </div>
                            <div class="item-product__box-price">
                                <p class="special-price"
                                   th:text="${#numbers.formatDecimal(product.price - (product.price * (product.productDiscounts.isEmpty() ? product.discountPercentBase : product.productDiscounts.get(product.productDiscounts.size() - 1).discountPercent)),3,'POINT',0,'POINT') + '&nbsp;₫'}"></p>
                                <p class="old-price"
                                   th:text="${#numbers.formatDecimal(product.price,3,'POINT',0,'POINT') + '&nbsp;₫'}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container p-xl-0">
            <div class="block-filter">
                <div class="filter__block-list-cate mb-3">
                    <div class="box-title mb-3">
                        <a href="#">
                            <h2>Phụ kiện</h2>
                        </a>
                    </div>
                    <div class="block-list-cate">
                        <div class="list-cate">
                            <a th:each="category : ${PHU_KIEN_CATEGORIES}"
                               th:href="@{/search(category=${category.categoryId})}">
                                <p th:text="${category.name}"></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<footer th:replace="fragments :: footer"></footer>
<th:block th:replace="fragments :: base-js"/>
<th:block th:replace="fragments :: home-js"/>
</body>
</html>