<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[[${TITLE}]]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        body {
            background: #007bff;
            background: linear-gradient(to right, #0062E6, #33AEFF);
        }

        .btn-login {
            font-size: 0.9rem;
            letter-spacing: 0.05rem;
            padding: 0.75rem 1rem;
        }

        .btn-google {
            color: white !important;
            background-color: #ea4335;
        }

        .btn-facebook {
            color: white !important;
            background-color: #3b5998;
        }

        .hr-text {
            line-height: 1em;
            position: relative;
            outline: 0;
            border: 0;
            color: black;
            text-align: center;
            height: auto;
            background-color: transparent;
            opacity: 0.5;
        }

        .hr-text:not([size]) {
            height: auto;
        }

        .hr-text:before {
            content: "";
            background: linear-gradient(to right, transparent, #818078, transparent);
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 1px;
        }

        .hr-text:after {
            content: attr(data-content);
            position: relative;
            display: inline-block;
            padding: 0 0.5em;
            line-height: 1.5em;
            color: #818078;
            background-color: #fcfcfa;
        }

    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <ul class="nav nav-tabs nav-justified mb-3" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="tab-login" data-bs-toggle="pill" href="#pills-login"
                               role="tab"
                               aria-controls="pills-login" aria-selected="true">Đăng nhập</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="tab-register" data-bs-toggle="pill" href="#pills-register"
                               role="tab"
                               aria-controls="pills-register" aria-selected="false">Đăng ký</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="pills-login" role="tabpanel"
                             aria-labelledby="tab-login">
                            <h5 class="card-title text-center mb-5 fw-light fs-5">Đăng nhập</h5>
                            <form th:action="@{/account/authenticateTheUser}" method="post">
                                <div class="form-floating mb-3">
                                    <input name="email" type="email" class="form-control" id="floatingInput"
                                           placeholder="name@example.com" required>
                                    <label for="floatingInput">Email</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input name="password" type="password" class="form-control" id="floatingPassword"
                                           placeholder="Password">
                                    <label for="floatingPassword">Mật khẩu</label>
                                </div>
                                <div th:if="${param.error}">
                                    <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                                </div>
                                <div class="form-check mb-3">
                                    <input name="remember" class="form-check-input" type="checkbox"
                                           id="rememberPasswordCheck">
                                    <label class="form-check-label" for="rememberPasswordCheck">
                                        Nhớ mật khẩu
                                    </label>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Đăng
                                        nhập
                                    </button>
                                </div>
                                <hr class="hr-text" data-content="Hoặc">
                                <div class="d-grid mb-2">
                                    <a th:href="@{/oauth2/authorization/google}"
                                       class="btn btn-google btn-login text-uppercase fw-bold">
                                        <i class="fab fa-google me-2"></i> Đăng nhập bằng Google
                                    </a>
                                </div>
                                <div class="d-grid">
                                    <a th:href="@{/oauth2/authorization/facebook}"
                                       class="btn btn-facebook btn-login text-uppercase fw-bold">
                                        <i class="fab fa-facebook-f me-2"></i> Đăng nhập bằng Facebook
                                    </a>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                            <h5 class="card-title text-center mb-5 fw-light fs-5">Đăng ký</h5>
                            <form th:action="@{/account/authenticateTheUser}" method="post">
                                <div class="form-floating mb-3">
                                    <input name="firstName" type="text" class="form-control" id="floatingInputFirstName"
                                           placeholder="Họ đệm">
                                    <label for="floatingInputFirstName">Họ đệm</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input name="lastName" type="text" class="form-control" id="floatingInputLastName"
                                           placeholder="Tên">
                                    <label for="floatingInputLastName">Tên</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input name="phoneNumber" type="tel" class="form-control"
                                           id="floatingInputPhoneNumber" placeholder="Số điện thoại">
                                    <label for="floatingInputPhoneNumber">Số điện thoại</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input name="password" type="password" class="form-control"
                                           id="floatingPasswordRegister" placeholder="Password">
                                    <label for="floatingPasswordRegister">Mật khẩu</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input name="password" type="password" class="form-control"
                                           id="floatingRePasswordRegister" placeholder="Password">
                                    <label for="floatingRePasswordRegister">Nhập lại mật khẩu</label>
                                </div>
                                <div th:if="${param.error}">
                                    <p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
                                </div>
                                <div class="d-grid">
                                    <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Đăng
                                        ký
                                    </button>
                                </div>
                                <hr class="hr-text" data-content="Hoặc">
                                <div class="d-grid mb-2">
                                    <a th:href="@{/oauth2/authorization/google}"
                                       class="btn btn-google btn-login text-uppercase fw-bold">
                                        <i class="fab fa-google me-2"></i> Đăng ký với Google
                                    </a>
                                </div>
                                <div class="d-grid">
                                    <a th:href="@{/oauth2/authorization/facebook}"
                                       class="btn btn-facebook btn-login text-uppercase fw-bold">
                                        <i class="fab fa-facebook-f me-2"></i> Đăng ký với Facebook
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>