<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <th:block th:replace="fragments :: base (title=${product.title})"/>
    <th:block th:replace="fragments :: product-detail"/>
</head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container w-75 mt-5 mb-5">

    <!-- ảnh và thông tin cơ bản -->
    <div id="Detail" class="row">
        <!-- ảnh -->
        <div class="col-6 border-content-img">
<!--            <div id="CarouselDetail" class="carousel slide" data-ride="carousel">-->
<!--                <ol class="carousel-indicators">-->
<!--                    <li data-target="#CarouselDetail" data-slide-to="0" class="active"></li>-->
<!--                    <li data-target="#CarouselDetail" data-slide-to="1"></li>-->
<!--                    <li data-target="#CarouselDetail" data-slide-to="2"></li>-->
<!--                </ol>-->
<!--                <div class="carousel-inner scale">-->

<!--                    <div class="carousel-item active w-75">-->
<!--                        <img th:src="${product.thumbnail}"-->
<!--                             class="img-fluid position-relative " alt="Los Angeles" style="width:100%;">-->
<!--                    </div>-->

<!--                    <div class="carousel-item w-75">-->
<!--                        <img th:src="${product.thumbnail}"-->
<!--                             class="img-fluid  position-relative " alt="Chicago" style="width:100%;">-->
<!--                    </div>-->

<!--                    <div class="carousel-item w-75">-->
<!--                        <img th:src="${product.thumbnail}"-->
<!--                             class="img-fluid position-relative" alt="New York" style="width:100%;">-->

<!--                    </div>-->

<!--                </div>-->

<!--                &lt;!&ndash; Left and right controls &ndash;&gt;-->
<!--                <a class="left carousel-control" href="#CarouselDetail" data-slide="prev">-->
<!--                    <span class="carousel-control-prev-icon"></span>-->
<!--                </a>-->
<!--                <a class="right carousel-control" href="#CarouselDetail" data-slide="next">-->
<!--                    <span class="carousel-control-next-icon"></span>-->
<!--                </a>-->
<!--            </div>-->
            <div class="backdrops">
                <img th:each="productBackdrop : ${product.productBackdrops}" th:src="${productBackdrop.filePath}" src="" alt="">
            </div>
            <div class="thumbnail-backdrops mt-4">
                <img th:each="productBackdrop : ${product.productBackdrops}" class="img-thumbnail" th:src="${productBackdrop.filePath}" src="" alt="">
            </div>
        </div>
        <!-- thông tin cơ bản -->
        <div class="col-6 desc">

            <div>
                <h1>[[${product.title}]]</h1>
                <div class="font-20">
                    <span class="text-dark font-20"><del
                            th:text="${#numbers.formatDecimal(product.price, 1,'DEFAULT',0, 'DEFAULT')}+ đ"></del></span>
                    <span class="text-danger ml-1 font-20"
                          th:text="${#numbers.formatDecimal(product.price - (product.price * (product.productDiscounts.isEmpty() ? product.discountPercentBase : product.productDiscounts.get(product.productDiscounts.size() - 1).discountPercent)),3,'POINT',0,'POINT') + '&nbsp;₫'}"
                    >2.199.000 đ</span>
                    <span class="bg-warning ml-1 font-20"
                          th:text="${'Giảm ' + #numbers.formatPercent((product.productDiscounts.isEmpty() ? product.discountPercentBase : product.productDiscounts.get(product.productDiscounts.size() - 1).discountPercent), 1, 0)}"></span>
                </div>
                <div class="font-20">
                    <span class="fa fa-star" th:classappend="${rating>=1} ? 'checked-rating'"></span>
                    <span class="fa fa-star" th:classappend="${rating>=2} ? 'checked-rating'"></span>
                    <span class="fa fa-star" th:classappend="${rating>=3} ? 'checked-rating'"></span>
                    <span class="fa fa-star" th:classappend="${rating>=4} ? 'checked-rating'"></span>
                    <span class="fa fa-star" th:classappend="${rating>=5} ? 'checked-rating'"></span>
                    <span th:text="'(' +${product.productReviews.size()}+ ' đánh giá)'"></span>
                </div>
                <div class="mt-5 font-16">
                    <p th:utext="${product.shortDesc}"></p>
                </div>
                <div class="row" style="margin-left: 0px">
                    <form class="form-inline" th:action="@{/product/addToCart}" method="post">
                        <div class="group-add">
                            <button id="btnSub" type="button" onclick="sub()" class="w-50px">-</button>
                            <input id="txtQuantity" type="text" name="quantity" value="1"
                                   class="w-50px focus-input text-center">
                            <button id="btnAdd" type="button" onclick="add()" class="w-50px">+</button>
                        </div>
                        <div class="ml-2">
                            <button id="btnCart" type="submit"
                                    class="btn btn-dark btn-cart mb-0 font-14">THÊM VÀO GIỎ HÀNG
                            </button>
                        </div>
                    </form>
<!--                    <div class="ml-2 ">-->
<!--                        <a id="btnTym" type="button" class="btn btn-dark btn-cart"><span class="fa fa-heart tym"></span></a>-->
<!--                    </div>-->
                </div>
                <div class="mt-5 font-16">
                    <p>Số sản phẩm có sẵn: <span id="spQuantity" th:value="${product.quantity}" >[[${product.quantity}]]</span></p>
                    <p>Loại: [[${product.category==null}?'':${product.category.name}]]</p>
                    <p>Từ khóa liên quan:

                        <th:block th:each="lq,state:${#strings.arraySplit(product.name,' ')}">
                            [[${lq}]][[${state.last}?'':', ']]
                        </th:block>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- mô tả chi tiết, đánh giá , thông tin thêm-->
    <div class="mt-5">
        <ul id="tabs" class="nav nav-tabs tabs" role="tablist">
            <li class="nav-item"><a data-toggle="tab" id="information" href="#ChiTiet"
                                    class="tabs nav-link active text-dark font-16 p-3">Chi tiết sản phẩm</a></li>
            <li class="nav-item"><a data-toggle="tab" id="btnTabDes" href="#ThemThongTin"
                                    class="tabs nav-link text-dark font-16 p-3">Thông tin thêm</a></li>
            <li class="nav-item"><a id="danh-gia" data-toggle="tab" href="#DanhGia" class="tabs nav-link text-dark font-16 p-3">Đánh
                giá</a></li>
        </ul>


        <div class="tab-content mt-5">
            <div id="ChiTiet" class="container tab-pane active">
                <h3 class="p-3 tab-bg-light" style="margin-right: 30px">THÔNG TIN CHI TIẾT</h3>
                <table class="table table-light font-14" style="padding-left: 30px; padding-right: 30px">
                    <tbody>
                    <th:block th:each="attribute:${product.getProductAttributes()}">
                        <tr>
                            <td class="mau-ten-thong-tin">[[${attribute.attribute.name}]]</td>
                            <td class="mau-thong-tin">[[${attribute.value}]]
                            </th>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
            <div id="ThemThongTin" class="container tab-pane fade">
                <h3 class="p-3 tab-bg-light" style="margin-right: 30px">MÔ TẢ SẢN PHẨM</h3>
                <div class="mt-3 long-desc font-14" style="padding-left: 30px; padding-right: 30px" id="long-desc"
                     th:utext="${product.longDesc}">
                    Lưu ý: Nhiều trường hợp do dùng thẻ nhớ không chính hãng nên camera không nhận thẻ nhớ, trong trường
                    hợp đó shop không hỗ trợ lỗi đọc thẻ nhớ. Để được hỗ trợ tốt nhất hay mua kèm thẻ nhớ của shop.
                    Camera Wifi C6N sử dụng trong nhà: Tùy vào phân loại thẻ
                    nhớ thì sẽ có giá khác nhau: – Không kèm thẻ: Không lưu lại lịch sử, không xem lại được – Kèm thẻ
                    32gb lưu tầm 1-3 ngày – Kèm thẻ 64gb lưu tầm 5-7 ngày – Kèm thẻ 128gb lưu tầm 12-20 ngày Khuyến
                    khích nên mua từ thẻ 64Gb, shop hỗ
                    trợ nâng cấp thẻ nhớ khi mua thẻ nhớ tại shop Phân loại camera C6N 2M và C6N 4M: – C6N 2M: Có độ
                    phân giải HD 1080p 2 MegaPixel – C6N 4M: Có độ phân giải 2K, 4 MegaPixel, cho hình ảnh rõ nét hơn,hỗ
                    trợ định dạng nén H265 Khi có
                    chuyển động trong khung hình thì camera mới ghi lại nên tùy từng vào khu vực ngoài đường hay trong
                    nhà thì sẽ ảnh hưởng đến thời gian lưu trữ của camera. C6N không có tính năng chống nước nên không
                    được sử dụng ngoài trời, để sử
                    dụng ngoài trời nên mua các mã C3WN, C3N, C3W, C3X, C8C, C8W Các chức năng cơ bản của camera: – Độ
                    phân giải HD 2.0 MegaPixel/ 2K 4.0 MegaPixel – Xoay 360 độ, có chế độ tự động theo dõi người hoặc
                    vật – Hồng ngoại 10m – Phát
                    hiện chuyển động thông minh. – Tích hợp Micro và Loa – Hỗ trợ đàm thoại 2 chiều. – Hỗ
                    trợ khe cắm thẻ nhớ đến 256GB. – Kết nối wifi, theo dõi camera khi có mạng Bộ sản phẩm camera
                    gồm có: Camera, cục nguồn, dây
                    nguồn,chân đế tròn,dây nguồn dài 3M Hướng dẫn cài đặt: – Tài ứng dụng ezviz trên Google Play cho
                    android hoặc App Store cho iphone – Tạo tài khoản ezviz bằng số điện thoại – Quét camera, kết nối
                    camera với mạng wifi đang sử dụng
                    Link hướng dẫn chi tiết: https://www.youtube.com/watch?v=ePxvp6p9gCI Nếu vẫn không cài đặt được thì
                    hay liên hệ với shop để được hỗ trợ cài đặt. Các lỗi gặp phải khi cài đặt: 1, Camera không kết nối
                    được wifi: Do nhập mật khẩu
                    wifi không đúng nên dẫn đến camera không kết nối được wifi, hay quên wifi ở điện thoại rồi nhập lại
                    mật khẩu khi cài đặt camera để chắc chắn mật khẩu nhập đúng 2, Camera hỏi mật khẩu mã hóa để xem
                    video: 6 ký tự dưới chân đế camera
                    sau chữ Verification Code: 3, Không thấy chỗ nhét thẻ nhớ: Hãy dùng tay quay camera lên trời để nhìn
                    thấy khe cắm thẻ nhớ 4, Camera không nhận thẻ nhớ: Hãy tắt app ezviz để vào lại để cho camera nhận
                    thẻ nhớ Các lỗi khác có thể
                    do lỗi nhà sản xuất, hãy liên hệ với shop để được hỗ trợ. Thông tin bảo hành: Sản phẩm được phân
                    phối chính hãng bởi nhà phân phối Anh Ngọc, Nhà An toàn, Lê Hoàng, ADNT có địa chỉ tại HN, HCM, Đà
                    Nẵng. Hãy liên hệ với shop để được
                    hướng dẫn bảo hành.
                </div>
<!--                <button id="btnDes" type="button" class="btn btn-outline-danger collapsible" style="font-size: 1.4rem;">Xem thêm <i-->
<!--                        class="fas fa-angle-down" ></i></button>-->
            </div>
            <!-- đánh giá -->
            <div id="DanhGia" class="container tab-pane fade mt-1">
                <h2 class="p-3 tab-bg-light" style="margin-right: 30px">ĐÁNH GIÁ SẢN PHẨM</h2>
                <div id="no-review" class="no-review text-center mt-5" style="padding-left: 30px; padding-right: 30px;">
                    <img th:src="@{/imgs/no-review.png}" class="img-fluid h-25 w-25">
                    <p class="mt-3 font-20 mau-ten-thong-tin">Sản phẩm chưa có đánh giá</p>
                </div>

                <div id="danh-sach-danh-gia" style="padding-left: 30px; padding-right: 30px; margin-right: 30px;">
                    <th:block th:each="review:${reviews}">
                        <div class="row mb-3 red-border">
                            <div class="col-2">
                                <img th:src="@{/imgs/images.png}" class="img-fluid w-75" alt="">
                            </div>
                            <div class="col-10">
                                <div>
                                    <span class="fa fa-star"
                                          th:classappend="${review.rating>=1}? 'checked-rating'"></span>
                                    <span class="fa fa-star"
                                          th:classappend="${review.rating>=2}? 'checked-rating'"></span>
                                    <span class="fa fa-star"
                                          th:classappend="${review.rating>=3}? 'checked-rating'"></span>
                                    <span class="fa fa-star"
                                          th:classappend="${review.rating>=4}? 'checked-rating'"></span>
                                    <span class="fa fa-star"
                                          th:classappend="${review.rating>=5}? 'checked-rating'"></span>
                                </div>
                                <div class="font-16"  th:if="${review.user!=null}">
                                    <h3>[[${review.user.firstName+" "+review.user.lastName}]]</h3>
                                    <span>[[${review.title}]]</span>
                                    <p>[[${review.content}]]</p>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </th:block>
                </div>

                <div class="paginationPage mt-5 mb-5" th:if="${reviews.totalPages >0}">
                    <nav aria-label="Page navigation">
                        <ul class="pagination" id="pagination"></ul>
                    </nav>
                </div>
            </div>
            <!-- form đánh giá -->
            <div id="FormDanhGia" class="mt-5">
                <h2 class="background-red p-3">THÊM ĐÁNH GIÁ MỚI</h2>
                <form class="form-group" method="post" th:action="@{/product/reviews}" th:object="${reviewProduct} ">
                    <div class="rating mt-5 mb-5">
                        <input th:field="*{rating}" type="radio" id="star5" name="rate" value="5"/>
                        <label for="star5" title="text"></label>
                        <input th:field="*{rating}" type="radio" id="star4" name="rate" value="4"/>
                        <label for="star4" title="text"></label>
                        <input th:field="*{rating}" type="radio" id="star3" name="rate" value="3"/>
                        <label for="star3" title="text"></label>
                        <input th:field="*{rating}" type="radio" id="star2" name="rate" value="2"/>
                        <label for="star2" title="text"></label>
                        <input th:field="*{rating}" type="radio" id="star1" name="rate" value="1"/>
                        <label for="star1" title="text"></label>
                    </div>

                    <input type="hidden" name="title" id="title" th:value="${product.title}"
                           class="form-control mt-3 font-14" placeholder="Tiêu đề">
                    <textarea th:field="*{content}" type="text" class="form-control mt-3 font-14"
                              placeholder="Thêm đánh giá của bạn."></textarea>
                    <input type="submit" class="btn btn-dark mt-3 font-16 " style="height: 36px;width: 80px" value="Gửi">

                </form>
                <th:block th:if="${param['true']}">
                    <script>
                        alert("Thêm đánh giá thành công")
                    </script>
                </th:block>
                <th:block th:if="${param['false']}">
                    <script>
                        alert("Không thể thêm đánh giá, đã xảy ra lỗi!!!")
                    </script>
                </th:block>
                <th:block th:if="${param['nopay']}">
                    <script>
                        alert("Để đánh giá bạn phải mua sản phẩm trước !!!")
                    </script>
                </th:block>

            </div>
        </div>

    </div>
    <!--    sanr phamr lien quan-->
    <div class="mt-5">
        <h3 class="text-center p-3 background-red">CÓ THỂ BẠN QUAN TÂM</h3>
        <div class="row mt-5">
            <th:block th:each="elm:${rand4Product}">
                <a class="col-3 link-relate-product" th:href="@{'/product/detail/'+${elm.slug}}">
                    <div class="border text-center text-dark translate position-relative font-14 relate-product">
                        <span class="position-absolute discount bg-warning text-danger">Giảm<br
                                th:text="${#numbers.formatPercent((product.productDiscounts.isEmpty() ? product.discountPercentBase : product.productDiscounts.get(product.productDiscounts.size() - 1).discountPercent), 1, 0)}"></span>
                        <img th:src="${elm.thumbnail}"
                             class="img-fluid img-relate-product" style="height: 200px"
                             alt="">
                        <p class="mt-3 ba-cham">[[${elm.name}]]</p>
                        <p class="text-danger">[[${#numbers.formatDecimal(elm.price,1,'DEFAULT',0,'DEFAULT')}]] đ</p>
                        <!-- <div>
                             <span class="fa fa-star" th:classappend="${elm.productReviews.rating>=1}? 'checked-rating'"></span>
                             <span class="fa fa-star" th:classappend="${elm.productReviews.rating>=2}? 'checked-rating'"></span>
                             <span class="fa fa-star" th:classappend="${elm.productReviews.rating>=3}? 'checked-rating'"></span>
                             <span class="fa fa-star" th:classappend="${elm.productReviews.rating>=4}? 'checked-rating'"></span>
                             <span class="fa fa-star" th:classappend="${elm.productReviews.rating>=5}? 'checked-rating'"></span>
                         </div>-->
                    </div>
                </a>
            </th:block>

        </div>
    </div>
</div>


<!-- sản phẩm liên quan -->


<div th:replace="fragments :: footer"></div>
<th:block th:replace="fragments :: base-js"/>
<th:block th:replace="fragments :: product-detail-js"/>
<th:block>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>
    <script type="text/javascript" th:src="@{/js/jquery.simplePagination.js}"></script>
    <script th:inline="javascript">
        let productId = [[${product.productId}]];
        let totalPages = [[${reviews.getTotalPages()}]];
        let currentPage = [[${reviews.getPageable().getPageNumber()}]];


        $(function () {
            if ([[${reviews.hasContent}]] == true) {
                $('.no-review').css('display', 'none');
            } else {
                $('.no-review').css('display', 'flex');
            }
        })
        $(function () {
            pagination();
            console.log('myproduct:' + totalPages, productId)
        });

        function pagination() {
            if (totalPages >= 0) {
                $('#pagination').show();
                $('#pagination').pagination({
                    pages: totalPages,
                    currentPage: currentPage,
                    cssStyle: '',
                    prevText: '<span class="active-link" aria-hidden="true">&laquo;</span>',
                    nextText: '<span class="active-link" aria-hidden="true">&raquo;</span>',
                    onInit: function () {

                    },
                    onPageClick: function (page, evt) {
                        currentPage = page;
                        getReviews();
                        $('body,html').animate({scrollTop: 0}, 800);
                    }

                });
                $('#pagination .active .current').addClass('page-link');
                $('#pagination .ellipse .clickable').addClass('page-link');
                $('#pagination .disabled .current.prev').addClass('page-link');
                $('#pagination .disabled .current.next').addClass('page-link');
            } else {
                $('#pagination').hide();
            }
        }

        function getReviews() {
            const req = {
                productId: productId,
                page: currentPage - 1
            }
            const myJSON = JSON.stringify(req);
            $.ajax({
                url: "/product/api/productReviews",
                type: "POST",
                data: myJSON,
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (reviews) {
                    createData(reviews.content);
                    currentPage = reviews.pageable.pageNumber + 1;
                    totalPages = reviews.totalPages;
                    console.log("Tong page hien tai khi nhan link page:" + totalPages);
                    console.log("page hien tai khi nhan link page:" + currentPage);
                    pagination();
                    console.log(reviews.content);
                }
            })

            function createData(reviews) {
                let html = '';
                if (reviews.length > 0) {
                    for (review of reviews) {
                        html += ` <div class="row mb-3 border-bottom">
                        <div class="col-2">
                            <img src=[[@{/imgs/images.png}]] class="img-fluid w-75" alt="">
                        </div>
                        <div class="col-10">
                            <div>
                                <span class="fa fa-star ${(review.rating >= 1) ? 'checked-rating' : ''}"></span>
                                <span class="fa fa-star ${(review.rating >= 2) ? 'checked-rating' : ''}"></span>
                                <span class="fa fa-star ${(review.rating >= 3) ? 'checked-rating' : ''}"></span>
                                <span class="fa fa-star ${(review.rating >= 4) ? 'checked-rating' : ''}"></span>
                                <span class="fa fa-star ${(review.rating >= 5) ? 'checked-rating' : ''}"></span>
                            </div>
                            <div class="font-14">
                                <h3>${review.user.firstName + " " + review.user.lastName}</h3>
                                <span>${review.title}</span>
                                <p>${review.content}</p>
                            </div>
                        </div>
                        <hr>
                    </div>`;
                    }
                    $("#danh-sach-danh-gia").html("");
                    $('#no-review').css('display', 'none');
                    $("#danh-sach-danh-gia").html(html);
                } else {
                    $("#danh-sach-danh-gia").html("");
                    $('#no-review').css('display', 'flex');
                }
            }
        }

    </script>
</th:block>

</body>

</html>