<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard.html}"
      lang="en">
<head></head>

<body>
<main layout:fragment="content" role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="mr-3">Sản phẩm</h1>
        <a th:href="@{/dashboard/product/category}" class="btn btn-add-product">Thêm sản phẩm</a>
    </div>
    <div
            class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 justify-content-between">
        <div class="btn-toolbar mb-2 mb-md-0">
            <select class="custom-select" name="" id="">
                <option value="">Tất cả các ngày</option>
                <option value="">1 tuần</option>
                <option value="">1 tháng</option>
            </select>
            <select class="custom-select" name="" id="">
                <option value="">Hiển thị tất cả danh mục sản phẩm</option>
                <option value="">Camera</option>
                <option value="">Hello</option>
            </select>
        </div>
        <form class="mb-2 mb-md-0">
            <input type="text" placeholder="Tìm kiếm sản phẩm" class="form-control">
        </form>
    </div>
    <table class="table table-striped bg-white">
        <thead class="thead-inverse">
        <tr>
            <th>Mã sản phẩm</th>
            <th></th>
            <th>Tựa đề</th>
            <th>Tên sản phẩm</th>
            <th>Tồn kho</th>
            <th>Giá bán</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, iter : ${productsPage.pageList}">
            <td style="width: 110px;" th:text="${product.productId}"></td>
            <td style="width: 80px">
                <img th:src="${product.thumbnail}"
                     th:alt="${product.title}">
            </td>
            <td th:text="${product.title}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.quantity}"></td>
            <td th:text="${#numbers.formatDecimal(product.price,3,'POINT',0,'POINT') + '&nbsp;₫'}"></td>
            <td style="width: 10px;">
                <a th:href="@{'/dashboard/product/' + ${product.productId} + '/delete'}">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </td>
            <td>
                <a href="#">
                    <i class="fas fa-edit"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center align-items-center">
        <ul class="pagination pagination-modify mt-2">
            <li th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'" >
                <a class="page-link" th:href="@{/dashboard/product}">First</a>
            </li>
            <li th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
                <a class="page-link" aria-label="Previous" th:href="@{|${baseUrl}${currentIndex - 1}|}" title="Go to previous page">
                    <span aria-hidden="true">«</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}" th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
                <a class="page-link" th:href="@{|${baseUrl}${item}|}">
                    <span th:text="${item}">1</span>
                </a>
            </li>
            <li th:class="${currentIndex == totalPageCount}? 'page-item disabled': 'page-item'">
                <a class="page-link" aria-label="Next" th:href="@{|${baseUrl}${currentIndex + 1}|}" title="Go to next page"><span aria-hidden="true">»</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
            <li th:class="${currentIndex == totalPageCount}? 'page-item disabled':'page-item'">
                <a class="page-link" th:href="@{|${baseUrl}${totalPageCount}|}">Last</a>
            </li>
        </ul>
    </div>
</main>
</body>
</html>
