<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{dashboard.html}" lang="en">

<head>
</head>

<body>
<section class="row" layout:fragment="content">
    <div class="container">
        <div
                class="container-fluid d-flex flex-row justify-content-end my-4"
        >
            <div class="col-4">
                <input
                        type="search"
                        class="form-control"
                        placeholder="Tìm sản phẩm"
                />
            </div>
            <!-- Button trigger modal -->
            <button
                    type="button"
                    class="btn btn-success"
                    data-toggle="modal"
                    data-target="#productModal"
            >
                <i class="fas fa-plus"></i> Thêm sản phẩm
            </button>
        </div>

        <div class="container-fluid col-8">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Mã hàng</th>
                    <th scope="col">Tên hàng</th>
                    <th scope="col" class="text-right">Giá bán</th>
                    <th scope="col" class="text-right">Tồn kho</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        <input
                                class="form-check-input"
                                type="checkbox"
                                name="select-product"
                                value="true"
                        />
                    </th>
                    <td>C342</td>
                    <td class="col-6">
                        Camera IMOU IPC-A22EP Ranger 2 1080p
                    </td>
                    <td class="text-right">890.000đ</td>
                    <td class="text-right">20</td>
                </tr>
                <tr>
                    <th>
                        <input
                                class="form-check-input"
                                type="checkbox"
                                name="select-product"
                                value="true"
                        />
                    </th>
                    <td>C452</td>
                    <td class="col-6">
                        Camera ip Wifi Ezviz C3WN CS-CV310 1080P
                    </td>
                    <td class="text-right">1.190.000đ</td>
                    <td class="text-right">5</td>
                </tr>
                <tr>
                    <th>
                        <input
                                class="form-check-input"
                                type="checkbox"
                                name="select-product"
                                value="true"
                        />
                    </th>
                    <td>C252</td>
                    <td class="col-6">
                        Camera Yoosee ngoài trời C08 26LED 1080p
                    </td>
                    <td class="text-right">990.000đ</td>
                    <td class="text-right">3</td>
                </tr>
                <tr>
                    <th>
                        <input
                                class="form-check-input"
                                type="checkbox"
                                name="select-product"
                                value="true"
                        />
                    </th>
                    <td>C252</td>
                    <td class="col-6">
                        Camera Yoosee ngoài trời C08 26LED 1080p
                    </td>
                    <td class="text-right">990.000đ</td>
                    <td class="text-right">3</td>
                </tr>
                <tr>
                    <th>
                        <input
                                class="form-check-input"
                                type="checkbox"
                                name="select-product"
                                value="true"
                        />
                    </th>
                    <td>C252</td>
                    <td class="col-6">
                        Camera Yoosee ngoài trời C08 26LED 1080p
                    </td>
                    <td class="text-right">990.000đ</td>
                    <td class="text-right">3</td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div
                class="modal fade"
                id="productModal"
                tabindex="-1"
                role="dialog"
                aria-labelledby="productModalLabel"
                aria-hidden="true"
        >
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="productModalLabel">
                            Thêm hàng hóa
                        </h5>
                        <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close"
                        >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body modal-body__product">
                        <form>
                            <div class="form-group-modify">
                                <label
                                >Mã hàng</label
                                >
                                <input
                                        type="text"
                                        class="form-control-modify"
                                        aria-describedby="emailHelp"
                                        placeholder="Mã hàng"
                                />
                            </div>

                            <div class="form-group-modify">
                                <label
                                >Tên hàng</label
                                >
                                <input
                                        type="text"
                                        class="form-control-modify"
                                        aria-describedby="emailHelp"
                                        placeholder="Tên hàng"
                                />
                            </div>
                            <div class="form-group-modify">
                                <label
                                >Thương hiệu</label
                                >
                                <input
                                        type="text"
                                        class="form-control-modify"
                                        aria-describedby="emailHelp"
                                        placeholder="Thương hiệu"
                                />
                            </div>
                            <div class="form-group-modify">
                                <label
                                >Xuất xứ</label
                                >
                                <input
                                        type="text"
                                        class="form-control-modify"
                                        aria-describedby="emailHelp"
                                        placeholder="Giá bán"
                                />
                            </div>

                            <div class="form-group-modify">
                                <label
                                >Giá bán</label
                                >
                                <input
                                        type="text"
                                        class="form-control-modify"
                                        aria-describedby="emailHelp"
                                        placeholder="Giá bán"
                                />
                            </div>
                            <div class="form-group-modify">
                                <label for="price-product"
                                >Giá gốc</label
                                >
                                <input
                                        type="text"
                                        class="form-control-modify"
                                        aria-describedby="emailHelp"
                                        placeholder="Giá gốc"
                                />
                            </div>
                            <div class="form-group-modify">
                                <label
                                >Giảm giá</label
                                >
                                <input
                                        type="text"
                                        class="form-control-modify"
                                        aria-describedby="emailHelp"
                                        placeholder="Giảm giá %"
                                />
                            </div>
                            <div class="form-group-modify">
                                <label
                                >Tồn kho</label
                                >
                                <input
                                        type="text"
                                        class="form-control-modify"
                                        id="price-product"
                                        placeholder="Tồn kho "
                                />
                            </div>

                            <div class="form-group">
                                <label
                                        for="descriptionTextarea"
                                        class="font-weight-bold mt-4"
                                >Mô tả sản phẩm</label
                                >
                                <textarea
                                        class="form-control"
                                        id="descriptionTextarea"
                                        rows="10"
                                ></textarea>
                            </div>

                            <div class="box-thumbnail">
                                <img
                                        src="https://phucanhcdn.com/media/product/32953-camera.jpg"
                                        class="img-thumbnail m-2 rounded"
                                />

                                <img
                                        src="https://phucanhcdn.com/media/product/32953-camera.jpg"
                                        class="img-thumbnail m-2 rounded"
                                />
                            </div>

                            <div class="container">
                                <button
                                        type="button"
                                        class="btn btn-secondary float-right px-4"
                                        data-dismiss="modal"
                                >
                                    Thoát
                                </button>
                                <button
                                        type="button"
                                        class="btn btn-success float-right px-4 mr-4"
                                >
                                    <i class="fas fa-save"></i>
                                    Lưu
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>