<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments-demo :: head">
    <title>Tìm kiếm</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script th:src="@{/js/search.js}"></script>

<body>
<div th:replace="fragments-demo :: header"></div>
<div class="container">
    <div class="row">
        <div class="search-nav-filter">
            <div class=" filter-title">
                <p><i class="fas fa-filter icon"></i>Bộ lọc tìm kiếm</p>
            </div>
            <div class="filter-body">
                <div class="group-filter">
                    <div th:if="${categoriesFirst != null}">
                        <div class="group-filter-header"><b>Theo Danh Mục</b></div>
                        <div class="group-filter-content" th:each="category1:${categoriesFirst}">
                            <div class="group-filter-content-item">
                                <input class="check-category" type="checkbox" th:value="${category1.categoryId}">
                                <label th:text="${category1.name}"></label>
                            </div>
                        </div>
                    </div>
                    <div id="categories" class="group-filter-content-add" th:if="${categoriesLast != null}">
                        <div th:each="category2:${categoriesLast}">
                            <div class="group-filter-content-item">
                                <input class="check-category" type="checkbox" th:value="${category2.categoryId}">
                                <label th:text="${category2.name}"></label>
                            </div>
                        </div>
                    </div>
                    <p class="add" id="addCategories" onclick="displayCategories()">
                        Thêm
                        <i class="fas fa-angle-down icon">
                        </i>
                    </p>
                    <p id="hiddenCategories" class="hidden" onclick="hiddenCategories()">
                        Ẩn bớt
                        <i class="fas fa-angle-up"></i>
                    </p>
                </div>
            </div>

            <div class="filter-body">
                <div class="group-filter">
                    <div th:if="${brandsFirst != null}">
                        <div class="group-filter-header"><b>Thương hiệu</b></div>
                        <div class="group-filter-content" th:each="brand1:${brandsFirst}">
                            <div class="group-filter-content-item">
                                <input class="check-brand" type="checkbox" th:value="${brand1.brandId}">
                                <label th:text="${brand1.name}"></label>
                            </div>
                        </div>
                    </div>
                    <div id="brands" class="group-filter-content-add" th:if="${brandsLast != null}">
                        <div th:each="brand2:${brandsLast}">
                            <div class="group-filter-content-item">
                                <input class="check-brand" type="checkbox" th:value="${brand2.brandId}">
                                <label th:text="${brand2.name}"></label>
                            </div>
                        </div>
                    </div>
                    <p class="add" id="addBrands" onclick="displayThuongHieu()">
                        Thêm
                        <i class="fas fa-angle-down icon">
                        </i>
                    </p>
                    <p id="hiddenBrands" class="hidden" onclick="hiddenThuongHieu()">
                        Ẩn bớt
                        <i class="fas fa-angle-up"></i>
                    </p>
                </div>
            </div>

            <div class="filter-body">
                <div class="group-filter">
                    <div class="group-filter-header"><b>Đánh giá</b></div>
                    <div class="group-filter-content">
                        <div class="group-filter-content-item">
                            <div class="filter-evaluate">
                                <input type="checkbox" class="check-rating" th:value="*{5}">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                            </div>
                        </div>
                        <div class="group-filter-content-item">
                            <div class="filter-evaluate">
                                <input type="checkbox" class="check-rating" th:value="*{4}">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="up"> trở lên</span>
                            </div>
                        </div>
                        <div class="group-filter-content-item">
                            <div class="filter-evaluate">
                                <input type="checkbox" class="check-rating" th:value="*{3}">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="up"> trở lên</span>
                            </div>
                        </div>
                        <div class="group-filter-content-item">
                            <div class="filter-evaluate">
                                <input type="checkbox" class="check-rating" th:value="*{2}">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="up"> trở lên</span>
                            </div>
                        </div>
                        <div class="group-filter-content-item">
                            <div class="filter-evaluate">
                                <input type="checkbox" class="check-rating" th:value="*{1}">
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="up"> trở lên</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="filter-body">
                <div class="group-filter">
                    <div class="group-filter-header"><b>Khoảng Giá</b></div>
                    <div class="group-filter-content">
                        <form style="width: 100%;">
                            <input type="text" class="price-input" placeholder="từ" id="fromPrice"
                                   onkeypress='validate(event)'/>
                            <span><i class="fas fa-horizontal-rule"></i></span>
                            <input type="text" class="price-input" placeholder="đến" id="toPrice"
                                   onkeypress='validate(event)'/>
                            <span id="errorMessagePrice" class="bao-loi text-danger"></span>
                            <button type="button" class="submitPrice">áp dụng</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-content">
            <div class="result-bar">
                <span><i style="font-size: 14px;" class="fas fa-lightbulb"></i></span>
                <p>Kết quả tìm kiếm cho '<span th:text="${param.name}"></span>'</p>
            </div>
            <div class="sort-bar" style="height: 60px; background-color: #00000008;">
                <div class="sort-button">
                        <span style="width: 130px;line-height: 34px; margin-right: 10px;"><b>Sắp xếp
                            theo</b> </span>
                    <ul id="sort">
                        <li value="name" class="btnss btn-ss  btn-select btn-ss-active" id="btnLienQuan"><a>Liên
                            Quan</a></li>
                        <li value="createdAt" class="btnss btn-ss btn-select" id="btnMoiNhat"><a>Mới Nhất</a></li>
                        <li value="BanChay" class="btnss btn-ss btn-select" id="btnBanChay"><a>Bán Chạy</a></li>
                        <li class="btn-select" id="btnGia"><a>Giá <span class="btn-select-price"><i
                                class="fas fa-chevron-down"></i></span></a>
                            <ul>
                                <li value="ascPrice" class="btnss select-price-item" id="ascPrice"><a>Giá: Thấp đến
                                    Cao</a></li>
                                <li value="descPrice" class=" btnss select-price-item" id="descPrice"><a>Giá: Cao đến
                                    Thấp</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="next-page">
                    <span id="pageCurrent"
                          th:text="(${param.page}?${T(java.lang.Integer).parseInt(param.page)+1}:1)+'/'+${productPage.totalPages}+' Trang'"></span>
                </div>
            </div>

            <div class="row error-null" style="display: none">
                <div class="col text-center no-products">
                    <img th:src="@{/imgs/noresultproduct.png}" alt="noresult.png">
                    <h4>Không tìm thấy sản phẩm phù hợp</h4>
                </div>
            </div>
            <div id="list-product" >
                <div class="content" th:each="product:${productPage.content}">
                    <div class="gallery">
                        <a>
                            <img th:src="${product.thumbnail}" alt="Cinque Terre">
                        </a>
                        <a class="desc-link text-dark" th:href="@{'/product/detail/'+${product.slug}}">
                            <div class="description">
                                <div class="desc-name" th:text="${product.name}"></div>
                                <div class="desc-price">
                                <span class="desc-price-hidden">
                                    <del>
                                        <span class="desc-price-hidden-d">đ</span>
                                        <span th:text="${#numbers.formatDecimal(product.price,1,'DEFAULT',0,'DEFAULT')}"></span>
                                    </del>
                                </span>
                                    <span class="desc-price-display">
                                    <span class="desc-price-display-d">đ</span>
                                    <span th:text="${product.productDiscount!=null}? ${#numbers.formatDecimal((product.price - product.price*product.productDiscount.discountPercent),1,'DEFAULT',0,'DEFAULT')}:${#numbers.formatDecimal(product.price,1,'DEFAULT',0,'DEFAULT')}"></span>
                                </span>
                                </div>
                                <div class="desc-eval">
                                <span class="fa fa-star"
                                      th:classappend="${listRating.get(product.productId)>=1}? checked"></span>
                                    <span class="fa fa-star"
                                          th:classappend="${listRating.get(product.productId)>=2}? checked"></span>
                                    <span class="fa fa-star"
                                          th:classappend="${listRating.get(product.productId)>=3}? checked"></span>
                                    <span class="fa fa-star"
                                          th:classappend="${listRating.get(product.productId)>=4}? checked"></span>
                                    <span class="fa fa-star"
                                          th:classappend="${listRating.get(product.productId)>=5}? checked"></span>
                                    <th:block th:width="totalQuan=${0}" th:each="orderItem,state:${product.orderItems}">
                                        <th:block th:width="totalQuan=${totalQuan+orderItem.quantity}" th:if="${state.last}">
                                            <span class="da-ban" th:text="'  Đã bán '+${totalQuan}">Đã bán 216</span>
                                        </th:block>

                                    </th:block>
                                    <th:block th:if="${product.orderItems.size()==0 || product.orderItems== null}">
                                        <span class="da-ban" th:text="'  Đã bán '+${0}">Đã bán 216</span>
                                    </th:block>


                                </div>
                                <div class="desc-address" style="color: #000000A6;">
                                    <i style="color: rgb(0, 191, 165); font-size: 12px;" class="fas fa-truck"></i>
                                    Metan, TP. Hồ Chí Minh
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div style="width: 20%;"></div>
        <div class="paginationPage mt-5 mb-5" th:if="${productPage.totalPages >0}">
            <nav aria-label="Page navigation">
                <ul class="pagination" id="pagination"></ul>
            </nav>
        </div>
    </div>

</div>
<th:block>
    <div th:replace="fragments :: footer"></div>
</th:block>
<th:block>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/jquery.simplePagination.js}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
    <script th:inline="javascript">


        let currentPage = [[${productPage.getPageable().getPageNumber()}]];
        console.log(currentPage);
        let totalPages = [[${productPage.getTotalPages()}]];
        let brandIds = [];
        let categoryIds = [];
        let maxPrice = Number.MAX_SAFE_INTEGER;
        let minPrice = 0;
        let ratings = [];
        let rating = 0;
        let columnName = 'name';
        $(function () {
            const b = [[${productPage.hasContent}]];
            if (b == true) {
                $('.error-null').css('display', 'none');
                //$(".content").css('margin-left','auto').css('margin-right','auto');
            } else {
                $("#list-product").html("");
                $('.error-null').css('display', 'flex');

            }

        })
        $(function () {
            pagination();
        });

        function pagination() {
            if (totalPages >= 0) {
                $('#pagination').show();
                $('#pagination').pagination({
                    pages: totalPages,
                    currentPage: currentPage,
                    cssStyle: '',
                    prevText: '<span class="active-link" aria-hidden="true">&laquo;</span>',
                    nextText: '<span class="active-link" aria-hidden="true">&raquo;</span>',
                    onInit: function () {

                    },
                    onPageClick: function (page, evt) {
                        currentPage = page;
                        getProducts();
                        $('body,html').animate({scrollTop: 0}, 800);
                    }
                });
                $('#pagination .active .current').addClass('page-link');
                $('#pagination .ellipse .clickable').addClass('page-link');
                $('#pagination .disabled .current.prev').addClass('page-link');
                $('#pagination .disabled .current.next').addClass('page-link');
            } else {
                $('#pagination').hide();
            }
        }

        $(document).ready(function () {
            $(".check-brand").change(function () {
                brandIds = $(".check-brand:checked").map(function () {
                    return $(this).val();
                }).get();
                currentPage = 1;
                getProducts();
                console.log("ratingValue: " + rating)
            })
            $(".check-category").change(function () {
                categoryIds = $(".check-category:checked").map(function () {
                    return $(this).val();
                }).get();
                currentPage = 1;
                getProducts();
                console.log("ratingValue: " + rating)
            })

            $(".check-rating").change(function () {
                ratings = $(".check-rating:checked").map(function () {
                    return $(this).val();
                }).get();
                currentPage = 1;
                if (!ratings.length == 0) {
                    rating = ratings.reduce(function (accumulator, element) {
                        return (accumulator < element) ? accumulator : element
                    });
                } else {
                    rating = 0;
                }
                getProducts();
                console.log("ratingValue: " + rating)
                console.log("ratings: " + ratings)
            })
            $('.submitPrice').click(function () {
                minPrice = parseFloat($('.price-input#fromPrice').val());
                maxPrice = parseFloat($('.price-input#toPrice').val());

                if (isNaN(minPrice) && isNaN(maxPrice)) {
                    $('#errorMessagePrice').html('Khoảng giá không hợp lệ');
                    window.location.href = '#errorMessagePrice';

                } else if (minPrice > maxPrice) {
                    $('#errorMessagePrice').html('Khoảng giá không hợp lệ');
                    window.location.href = '#errorMessagePrice';

                } else if (minPrice > 999999999999 || maxPrice > 999999999999) {
                    $('#errorMessagePrice').html('Khoảng giá quá lớn');
                    window.location.href = '#errorMessagePrice';

                } else {
                    console.log("minPrice: " + minPrice)
                    console.log("maxPrice: " + maxPrice)
                    currentPage = 1;
                    getProducts();
                }
            })
            $('.btn-select').click(function () {

                $('.btn-select').css('background-color', 'white')
                $(this).css('background-color', '#ff9999')
            })

            $('.btnss').click(function () {
                let ss = $(this).attr('value');
                console.log('sap xep theo: ' + ss);
                columnName = ss;
                currentPage = 1;
                getProducts();
            })
        })

        function getProducts() {
            let req = {
                categoryIds: categoryIds,
                brandIds: brandIds,
                rating: rating,
                minPrice: minPrice,
                maxPrice: maxPrice,
                page: currentPage - 1,
                columnName: columnName
            }
            let myJSON = JSON.stringify(req);
            $.ajax({
                url: "search/products",
                type: "POST",
                data: myJSON,
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (products) {
                    createData(products.content);
                    currentPage = products.pageable.pageNumber + 1;
                    totalPages = products.totalPages;
                    pagination();
                    $('#pageCurrent').html(currentPage + "/" + totalPages + " Trang");
                    console.log(products.content);
                }
            })
        }

        let listRating = [[${listRating}]];
        console.log(listRating);

        function createData(products) {
            let html = '';

            if (products.length > 0) {

                html+=`<div class="content">`;
                    for (product of products) {
                        html += `
                        <div class="gallery">
                            <a>
                                <img src="${product.thumbnail}"
                                     alt="Cinque Terre">
                            </a>
                            <a class="desc-link text-dark" th:href="@{'/product/detail/'+${product.slug}}">
                            <div class="description">
                                <div class="desc-name">${product.name}</div>
                                <div class="desc-price">
                                    <span class="desc-price-hidden">
                                        <del>
                                            <span class="desc-price-hidden-d">đ</span>
                                            <span>${new Intl.NumberFormat('vi-VN', {maximumSignificantDigits: 3}).format(product.price)}</span>
                                        </del>
                                    </span>
                                    <span class="desc-price-display">
                                        <span class="desc-price-display-d">đ</span>
                                        <span>${product.productDiscount!=null?new Intl.NumberFormat('vi-VN', {maximumSignificantDigits: 3}).format(product.price - product.price * product.productDiscount.discountPercent):new Intl.NumberFormat('vi-VN', {maximumSignificantDigits: 3}).format(product.price)}</span>
                                    </span>
                                </div>
                                <div class="desc-eval">
                                    <span class="fa fa-star ${listRating[product.productId] >= 1 ? 'checked' : ''}"></span>
                                    <span class="fa fa-star ${listRating[product.productId] >= 2 ? 'checked' : ''}"></span>
                                    <span class="fa fa-star ${listRating[product.productId] >= 3 ? 'checked' : ''}"></span>
                                    <span class="fa fa-star ${listRating[product.productId] >= 4 ? 'checked' : ''}"></span>
                                    <span class="fa fa-star ${listRating[product.productId] >= 5 ? 'checked' : ''}"></span>
                                    <span class="da-ban">  Đã bán ${0}</span>
                                </div>
                                <div class="desc-address" style="color: #000000A6;">
                                    <i style="color: rgb(0, 191, 165); font-size: 12px;" class="fas fa-truck"></i>
                                    Metan, TP. Hồ Chí Minh
                                </div>
                            </div>
                            </a>
                        </div>`;
                    }
                html+=`</div>`;
                $("#list-product").html("");
                $('.error-null').css('display', 'none');
                $("#list-product").html(html);

            } else {
                $("#list-product").html("");
                $('.error-null').css('display', 'flex');
            }
        }
    </script>
</th:block>
</body>

</html>