<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout" lang="en">
<head>
</head>
<body>

<div th:fragment="nav" class="menu-modify">
    <nav class="nav flex-column nav-pills nav-fill  mx-0 ">
        <li class="nav-item">
            <a class="nav-link text-light text-left py-3 pl-5"
               th:href="@{../dashboard/product}"
               th:classappend="${#httpServletRequest.getRequestURI() == '/dashboard/product' ? 'active':''}"
            >Sản phẩm</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-light text-left py-3 pl-5"
               th:href="@{../dashboard/brand}"
               th:classappend="${#httpServletRequest.getRequestURI() == '/dashboard/brand' ? 'active':''}"
            >Thương hiệu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light text-left py-3 pl-5" href="#">Danh mục</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light text-left py-3 pl-5"
               th:href="@{../dashboard/order}"
               th:classappend="${#httpServletRequest.getRequestURI() == '/dashboard/order' ? 'active':''}"
            >Hóa đơn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light text-left  py-3 pl-5" href="#">Khách hàng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light text-left  py-3 pl-5" href="/" target="_blank">Website</a>
        </li>

        <li class="nav-item ">
            <a class="nav-link text-light text-left py-3 pl-5" href="#" >Đăng xuất</a>
        </li>
    </nav>
</div>
</body>
</html>